<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.azz.platform.merchant.mapper.MerchantMapper">
  <resultMap id="BaseResultMap" type="com.azz.platform.merchant.pojo.Merchant">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="merchant_code" jdbcType="VARCHAR" property="merchantCode" />
    <result column="merchant_name" jdbcType="VARCHAR" property="merchantName" />
    <result column="legal_person_name" jdbcType="VARCHAR" property="legalPersonName" />
    <result column="legal_person_id_card" jdbcType="VARCHAR" property="legalPersonIdCard" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="credit_code" jdbcType="VARCHAR" property="creditCode" />
    <result column="company_tel" jdbcType="VARCHAR" property="companyTel" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="trading_certificate_first_file_name" jdbcType="VARCHAR" property="tradingCertificateFirstFileName" />
    <result column="trading_certificate_first_file_url" jdbcType="VARCHAR" property="tradingCertificateFirstFileUrl" />
    <result column="trading_certificate_second_file_name" jdbcType="VARCHAR" property="tradingCertificateSecondFileName" />
    <result column="trading_certificate_second_file_url" jdbcType="VARCHAR" property="tradingCertificateSecondFileUrl" />
    <result column="trading_certificate_third_file_name" jdbcType="VARCHAR" property="tradingCertificateThirdFileName" />
    <result column="trading_certificate_third_file_url" jdbcType="VARCHAR" property="tradingCertificateThirdFileUrl" />
    <result column="business_license_file_name" jdbcType="VARCHAR" property="businessLicenseFileName" />
    <result column="business_license_file_url" jdbcType="VARCHAR" property="businessLicenseFileUrl" />
    <result column="legal_person_id_card_file_name" jdbcType="VARCHAR" property="legalPersonIdCardFileName" />
    <result column="legal_person_id_card_file_url" jdbcType="VARCHAR" property="legalPersonIdCardFileUrl" />
    <result column="auditor" jdbcType="VARCHAR" property="auditor" />
    <result column="contact_phone" jdbcType="VARCHAR" property="contactPhone" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="salt" jdbcType="VARCHAR" property="salt" />
    <result column="registered_person" jdbcType="VARCHAR" property="registeredPerson" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="qualification_apply_status" jdbcType="INTEGER" property="qualificationApplyStatus" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, merchant_code, merchant_name, legal_person_name, legal_person_id_card, company_name, 
    credit_code, company_tel, address, trading_certificate_first_file_name, trading_certificate_first_file_url, 
    trading_certificate_second_file_name, trading_certificate_second_file_url, trading_certificate_third_file_name, 
    trading_certificate_third_file_url, business_license_file_name, business_license_file_url, 
    legal_person_id_card_file_name, legal_person_id_card_file_url, auditor, contact_phone, 
    password, salt, registered_person, status, qualification_apply_status, remark, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from merchant
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from merchant
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.azz.platform.merchant.pojo.Merchant">
    insert into merchant (id, merchant_code, merchant_name, 
      legal_person_name, legal_person_id_card, company_name, 
      credit_code, company_tel, address, 
      trading_certificate_first_file_name, trading_certificate_first_file_url, 
      trading_certificate_second_file_name, trading_certificate_second_file_url, 
      trading_certificate_third_file_name, trading_certificate_third_file_url, 
      business_license_file_name, business_license_file_url, 
      legal_person_id_card_file_name, legal_person_id_card_file_url, 
      auditor, contact_phone, password, 
      salt, registered_person, status, 
      qualification_apply_status, remark, create_time
      )
    values (#{id,jdbcType=BIGINT}, #{merchantCode,jdbcType=VARCHAR}, #{merchantName,jdbcType=VARCHAR}, 
      #{legalPersonName,jdbcType=VARCHAR}, #{legalPersonIdCard,jdbcType=VARCHAR}, #{companyName,jdbcType=VARCHAR}, 
      #{creditCode,jdbcType=VARCHAR}, #{companyTel,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{tradingCertificateFirstFileName,jdbcType=VARCHAR}, #{tradingCertificateFirstFileUrl,jdbcType=VARCHAR}, 
      #{tradingCertificateSecondFileName,jdbcType=VARCHAR}, #{tradingCertificateSecondFileUrl,jdbcType=VARCHAR}, 
      #{tradingCertificateThirdFileName,jdbcType=VARCHAR}, #{tradingCertificateThirdFileUrl,jdbcType=VARCHAR}, 
      #{businessLicenseFileName,jdbcType=VARCHAR}, #{businessLicenseFileUrl,jdbcType=VARCHAR}, 
      #{legalPersonIdCardFileName,jdbcType=VARCHAR}, #{legalPersonIdCardFileUrl,jdbcType=VARCHAR}, 
      #{auditor,jdbcType=VARCHAR}, #{contactPhone,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{salt,jdbcType=VARCHAR}, #{registeredPerson,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{qualificationApplyStatus,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.azz.platform.merchant.pojo.Merchant">
    insert into merchant
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="merchantCode != null">
        merchant_code,
      </if>
      <if test="merchantName != null">
        merchant_name,
      </if>
      <if test="legalPersonName != null">
        legal_person_name,
      </if>
      <if test="legalPersonIdCard != null">
        legal_person_id_card,
      </if>
      <if test="companyName != null">
        company_name,
      </if>
      <if test="creditCode != null">
        credit_code,
      </if>
      <if test="companyTel != null">
        company_tel,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="tradingCertificateFirstFileName != null">
        trading_certificate_first_file_name,
      </if>
      <if test="tradingCertificateFirstFileUrl != null">
        trading_certificate_first_file_url,
      </if>
      <if test="tradingCertificateSecondFileName != null">
        trading_certificate_second_file_name,
      </if>
      <if test="tradingCertificateSecondFileUrl != null">
        trading_certificate_second_file_url,
      </if>
      <if test="tradingCertificateThirdFileName != null">
        trading_certificate_third_file_name,
      </if>
      <if test="tradingCertificateThirdFileUrl != null">
        trading_certificate_third_file_url,
      </if>
      <if test="businessLicenseFileName != null">
        business_license_file_name,
      </if>
      <if test="businessLicenseFileUrl != null">
        business_license_file_url,
      </if>
      <if test="legalPersonIdCardFileName != null">
        legal_person_id_card_file_name,
      </if>
      <if test="legalPersonIdCardFileUrl != null">
        legal_person_id_card_file_url,
      </if>
      <if test="auditor != null">
        auditor,
      </if>
      <if test="contactPhone != null">
        contact_phone,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="salt != null">
        salt,
      </if>
      <if test="registeredPerson != null">
        registered_person,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="qualificationApplyStatus != null">
        qualification_apply_status,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="merchantCode != null">
        #{merchantCode,jdbcType=VARCHAR},
      </if>
      <if test="merchantName != null">
        #{merchantName,jdbcType=VARCHAR},
      </if>
      <if test="legalPersonName != null">
        #{legalPersonName,jdbcType=VARCHAR},
      </if>
      <if test="legalPersonIdCard != null">
        #{legalPersonIdCard,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null">
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="creditCode != null">
        #{creditCode,jdbcType=VARCHAR},
      </if>
      <if test="companyTel != null">
        #{companyTel,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="tradingCertificateFirstFileName != null">
        #{tradingCertificateFirstFileName,jdbcType=VARCHAR},
      </if>
      <if test="tradingCertificateFirstFileUrl != null">
        #{tradingCertificateFirstFileUrl,jdbcType=VARCHAR},
      </if>
      <if test="tradingCertificateSecondFileName != null">
        #{tradingCertificateSecondFileName,jdbcType=VARCHAR},
      </if>
      <if test="tradingCertificateSecondFileUrl != null">
        #{tradingCertificateSecondFileUrl,jdbcType=VARCHAR},
      </if>
      <if test="tradingCertificateThirdFileName != null">
        #{tradingCertificateThirdFileName,jdbcType=VARCHAR},
      </if>
      <if test="tradingCertificateThirdFileUrl != null">
        #{tradingCertificateThirdFileUrl,jdbcType=VARCHAR},
      </if>
      <if test="businessLicenseFileName != null">
        #{businessLicenseFileName,jdbcType=VARCHAR},
      </if>
      <if test="businessLicenseFileUrl != null">
        #{businessLicenseFileUrl,jdbcType=VARCHAR},
      </if>
      <if test="legalPersonIdCardFileName != null">
        #{legalPersonIdCardFileName,jdbcType=VARCHAR},
      </if>
      <if test="legalPersonIdCardFileUrl != null">
        #{legalPersonIdCardFileUrl,jdbcType=VARCHAR},
      </if>
      <if test="auditor != null">
        #{auditor,jdbcType=VARCHAR},
      </if>
      <if test="contactPhone != null">
        #{contactPhone,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="salt != null">
        #{salt,jdbcType=VARCHAR},
      </if>
      <if test="registeredPerson != null">
        #{registeredPerson,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="qualificationApplyStatus != null">
        #{qualificationApplyStatus,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.azz.platform.merchant.pojo.Merchant">
    update merchant
    <set>
      <if test="merchantCode != null">
        merchant_code = #{merchantCode,jdbcType=VARCHAR},
      </if>
      <if test="merchantName != null">
        merchant_name = #{merchantName,jdbcType=VARCHAR},
      </if>
      <if test="legalPersonName != null">
        legal_person_name = #{legalPersonName,jdbcType=VARCHAR},
      </if>
      <if test="legalPersonIdCard != null">
        legal_person_id_card = #{legalPersonIdCard,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null">
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="creditCode != null">
        credit_code = #{creditCode,jdbcType=VARCHAR},
      </if>
      <if test="companyTel != null">
        company_tel = #{companyTel,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="tradingCertificateFirstFileName != null">
        trading_certificate_first_file_name = #{tradingCertificateFirstFileName,jdbcType=VARCHAR},
      </if>
      <if test="tradingCertificateFirstFileUrl != null">
        trading_certificate_first_file_url = #{tradingCertificateFirstFileUrl,jdbcType=VARCHAR},
      </if>
      <if test="tradingCertificateSecondFileName != null">
        trading_certificate_second_file_name = #{tradingCertificateSecondFileName,jdbcType=VARCHAR},
      </if>
      <if test="tradingCertificateSecondFileUrl != null">
        trading_certificate_second_file_url = #{tradingCertificateSecondFileUrl,jdbcType=VARCHAR},
      </if>
      <if test="tradingCertificateThirdFileName != null">
        trading_certificate_third_file_name = #{tradingCertificateThirdFileName,jdbcType=VARCHAR},
      </if>
      <if test="tradingCertificateThirdFileUrl != null">
        trading_certificate_third_file_url = #{tradingCertificateThirdFileUrl,jdbcType=VARCHAR},
      </if>
      <if test="businessLicenseFileName != null">
        business_license_file_name = #{businessLicenseFileName,jdbcType=VARCHAR},
      </if>
      <if test="businessLicenseFileUrl != null">
        business_license_file_url = #{businessLicenseFileUrl,jdbcType=VARCHAR},
      </if>
      <if test="legalPersonIdCardFileName != null">
        legal_person_id_card_file_name = #{legalPersonIdCardFileName,jdbcType=VARCHAR},
      </if>
      <if test="legalPersonIdCardFileUrl != null">
        legal_person_id_card_file_url = #{legalPersonIdCardFileUrl,jdbcType=VARCHAR},
      </if>
      <if test="auditor != null">
        auditor = #{auditor,jdbcType=VARCHAR},
      </if>
      <if test="contactPhone != null">
        contact_phone = #{contactPhone,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="salt != null">
        salt = #{salt,jdbcType=VARCHAR},
      </if>
      <if test="registeredPerson != null">
        registered_person = #{registeredPerson,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="qualificationApplyStatus != null">
        qualification_apply_status = #{qualificationApplyStatus,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.azz.platform.merchant.pojo.Merchant">
    update merchant
    set merchant_code = #{merchantCode,jdbcType=VARCHAR},
      merchant_name = #{merchantName,jdbcType=VARCHAR},
      legal_person_name = #{legalPersonName,jdbcType=VARCHAR},
      legal_person_id_card = #{legalPersonIdCard,jdbcType=VARCHAR},
      company_name = #{companyName,jdbcType=VARCHAR},
      credit_code = #{creditCode,jdbcType=VARCHAR},
      company_tel = #{companyTel,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      trading_certificate_first_file_name = #{tradingCertificateFirstFileName,jdbcType=VARCHAR},
      trading_certificate_first_file_url = #{tradingCertificateFirstFileUrl,jdbcType=VARCHAR},
      trading_certificate_second_file_name = #{tradingCertificateSecondFileName,jdbcType=VARCHAR},
      trading_certificate_second_file_url = #{tradingCertificateSecondFileUrl,jdbcType=VARCHAR},
      trading_certificate_third_file_name = #{tradingCertificateThirdFileName,jdbcType=VARCHAR},
      trading_certificate_third_file_url = #{tradingCertificateThirdFileUrl,jdbcType=VARCHAR},
      business_license_file_name = #{businessLicenseFileName,jdbcType=VARCHAR},
      business_license_file_url = #{businessLicenseFileUrl,jdbcType=VARCHAR},
      legal_person_id_card_file_name = #{legalPersonIdCardFileName,jdbcType=VARCHAR},
      legal_person_id_card_file_url = #{legalPersonIdCardFileUrl,jdbcType=VARCHAR},
      auditor = #{auditor,jdbcType=VARCHAR},
      contact_phone = #{contactPhone,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      salt = #{salt,jdbcType=VARCHAR},
      registered_person = #{registeredPerson,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      qualification_apply_status = #{qualificationApplyStatus,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <select id="selectByCode" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from merchant
    where merchant_code = #{merchantCode,jdbcType=VARCHAR}
  </select>
  
  <select id="selectMerchantList" parameterType="com.azz.platform.merchant.pojo.bo.SearchMerchantParam" resultType="com.azz.platform.merchant.pojo.vo.MerchantApproval">
  	select 
		m.merchant_code as merchantCode,
		ma.company_name as companyName,
		m.registered_person as registeredPerson,
		m.contact_phone as contactPhone,
		m.qualification_apply_status as status,
		m.create_time as createTime
	 from merchant m 
	 left join (
	 SELECT * FROM merchant_apply ma1 WHERE NOT EXISTS(
	 SELECT 1 FROM merchant_apply ma2 WHERE ma2.merchant_code=ma1.merchant_code AND ma1.id &lt; ma2.id)
	 ) ma on m.merchant_code=ma.merchant_code
	 <where>
	 	<if test="param != null and param != ''">
	 		and (ma.company_name = #{param,jdbcType=VARCHAR} or ma.merchant_code = #{param,jdbcType=VARCHAR} or m.registered_person = #{param,jdbcType=VARCHAR})
	 	</if>
	 	<if test="status != null">
	 		and m.qualification_apply_status = #{status,jdbcType=INTEGER}
	 	</if>
	 </where>
	 ORDER BY m.create_time DESC
  </select>
  
  <!-- 商户管理列表 -->
  <select id="selectMerchantInfoList" parameterType="com.azz.platform.merchant.pojo.bo.SearchMerchantListParam" resultType="com.azz.platform.merchant.pojo.vo.MerchantListInfo">
  		select
  		  merchant_code merchantCode,
  		  registered_person registeredPerson,
  		  registered_person createName,
  		  contact_phone contactPhone,
  		  company_name companyName,
  		  status status,
  		  create_time createTime
  		from merchant
  		<where>
  			<if test="param != null and param != ''">
  				and merchant_code = #{param} or company_name = #{param} or registered_person = #{param}
  			</if>
  		</where>
  		 ORDER BY create_time DESC
  </select>
  
   <!-- 商户管理列表    部门查询没加-->
  <select id="getMerchantUserInfo" parameterType="com.azz.platform.merchant.pojo.bo.SearchMerchantUserParam" resultType="com.azz.platform.merchant.pojo.vo.MerchantUserInfo">
  		select
  		  m.merchant_user_code merchantUserCode,
  		  m.merchant_user_name merchantUserName,
  		  m.phone_number phoneNumber,
  		  m.post_name postName,
  		  a.dept_name deptName,
  		  m.status status,
  		  m.create_time createTime
  		from merchant_user m,platform_dept a where m.dept_id = a.id
  		<if test="param != null and param != ''">
  				and m.merchant_user_name = #{param} or m.phone_number = #{param} or m.post_name = #{param} or a.dept_name = #{param}
  		</if>
  		 ORDER BY m.create_time DESC
  </select>
  
  <!-- 商户管理列表  详情 -->
  <select id="getMerchantInfo" parameterType="java.lang.String" resultType="com.azz.platform.merchant.pojo.vo.MerchantInfoOpen">
  		select
  		  m.merchant_code merchantCode,
  		  m.merchant_name merchantName,
  		  m.legal_person_name legalPersonName,
  		  m.legal_person_id_card legalPersonIdCard,
  		  m.company_name companyName,
  		  m.credit_code creditCode,
  		  m.company_tel companyTel,
  		  m.address address,
  		  m.status status,
  		  m.trading_certificate_first_file_name tradingCertificateFirstFileName,
  		  m.trading_certificate_first_file_url tradingCertificateFirstFileUrl,
  		  m.trading_certificate_second_file_name tradingCertificateSecondFileName,
  		  m.trading_certificate_second_file_url tradingCertificateSecondFileUrl,
  		  m.trading_certificate_third_file_name tradingCertificateThirdFileName,
  		  m.trading_certificate_third_file_url tradingCertificateThirdFileUrl,
  		  m.legal_person_id_card_file_name legalPersonIdCardFileName,
  		  m.legal_person_id_card_file_url legalPersonIdCardFileUrl,
  		  m.business_license_file_name businessLicenseFileName,
  		  m.business_license_file_url businessLicenseFileUrl,
  		  m.create_time createTime,
  		  a.account_name accountName,
  		  a.account_bank accountBank,
  		  a.account_bank_card_number accountBankCardNumber,
  		  a.account_sub_branch accountSubBranch
  		  
  		from merchant m , merchant_account a where m.id = a.merchant_id
  		<if test="code != null and code != ''">
  				and m.merchant_code = #{code}
  		</if>
  		 ORDER BY m.create_time DESC
  </select>
  
  <!-- 商户管理 启用 禁用 -->
  <update id="merchantStatusChange" parameterType="java.lang.String">
  		update 
  		  merchant
  		<set>
  			<if test="status != null ">
  				status = #{status}
  			</if>
  		</set>
  		  <where>
  		  	<if test="code != null and code != ''">
  		  		merchant_code = #{code}
  		  	</if>
  		  </where>
  
  
  </update>
</mapper>