<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.azz.platform.merchant.mapper.MerchantGoodsModuleMapper">
  <resultMap id="BaseResultMap" type="com.azz.platform.merchant.pojo.MerchantGoodsModule">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="module_code" jdbcType="VARCHAR" property="moduleCode" />
    <result column="module_name" jdbcType="VARCHAR" property="moduleName" />
    <result column="module_status" jdbcType="TINYINT" property="moduleStatus" />
    <result column="module_pic_url" jdbcType="VARCHAR" property="modulePicUrl" />
    <result column="module_pic_name" jdbcType="VARCHAR" property="modulePicName" />
    <result column="merchant_id" jdbcType="BIGINT" property="merchantId" />
    <result column="classification_id" jdbcType="BIGINT" property="classificationId" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.azz.platform.merchant.pojo.MerchantGoodsModule">
    <result column="module_info" jdbcType="LONGVARCHAR" property="moduleInfo" />
  </resultMap>
  <sql id="Base_Column_List">
    id, module_code, module_name, module_status, module_pic_url, module_pic_name, merchant_id, 
    classification_id, creator, create_time, modifier, modify_time
  </sql>
  <sql id="Blob_Column_List">
    module_info
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from merchant_goods_module
    where id = #{id,jdbcType=BIGINT}
  </select>
  
  <select id="selectByModuleCode" parameterType="string" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from merchant_goods_module
    where module_status != 0 and module_code = #{moduleCode}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from merchant_goods_module
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.azz.platform.merchant.pojo.MerchantGoodsModule">
    insert into merchant_goods_module (id, module_code, module_name, 
      module_status, module_pic_url, module_pic_name, 
      merchant_id, classification_id, creator, 
      create_time, modifier, modify_time, 
      module_info)
    values (#{id,jdbcType=BIGINT}, #{moduleCode,jdbcType=VARCHAR}, #{moduleName,jdbcType=VARCHAR}, 
      #{moduleStatus,jdbcType=TINYINT}, #{modulePicUrl,jdbcType=VARCHAR}, #{modulePicName,jdbcType=VARCHAR}, 
      #{merchantId,jdbcType=BIGINT}, #{classificationId,jdbcType=BIGINT}, #{creator,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{modifier,jdbcType=VARCHAR}, #{modifyTime,jdbcType=TIMESTAMP}, 
      #{moduleInfo,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.azz.platform.merchant.pojo.MerchantGoodsModule">
    insert into merchant_goods_module
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="moduleCode != null">
        module_code,
      </if>
      <if test="moduleName != null">
        module_name,
      </if>
      <if test="moduleStatus != null">
        module_status,
      </if>
      <if test="modulePicUrl != null">
        module_pic_url,
      </if>
      <if test="modulePicName != null">
        module_pic_name,
      </if>
      <if test="merchantId != null">
        merchant_id,
      </if>
      <if test="classificationId != null">
        classification_id,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifier != null">
        modifier,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
      <if test="moduleInfo != null">
        module_info,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="moduleCode != null">
        #{moduleCode,jdbcType=VARCHAR},
      </if>
      <if test="moduleName != null">
        #{moduleName,jdbcType=VARCHAR},
      </if>
      <if test="moduleStatus != null">
        #{moduleStatus,jdbcType=TINYINT},
      </if>
      <if test="modulePicUrl != null">
        #{modulePicUrl,jdbcType=VARCHAR},
      </if>
      <if test="modulePicName != null">
        #{modulePicName,jdbcType=VARCHAR},
      </if>
      <if test="merchantId != null">
        #{merchantId,jdbcType=BIGINT},
      </if>
      <if test="classificationId != null">
        #{classificationId,jdbcType=BIGINT},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="moduleInfo != null">
        #{moduleInfo,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.azz.platform.merchant.pojo.MerchantGoodsModule">
    update merchant_goods_module
    <set>
      <if test="moduleCode != null">
        module_code = #{moduleCode,jdbcType=VARCHAR},
      </if>
      <if test="moduleName != null">
        module_name = #{moduleName,jdbcType=VARCHAR},
      </if>
      <if test="moduleStatus != null">
        module_status = #{moduleStatus,jdbcType=TINYINT},
      </if>
      <if test="modulePicUrl != null">
        module_pic_url = #{modulePicUrl,jdbcType=VARCHAR},
      </if>
      <if test="modulePicName != null">
        module_pic_name = #{modulePicName,jdbcType=VARCHAR},
      </if>
      <if test="merchantId != null">
        merchant_id = #{merchantId,jdbcType=BIGINT},
      </if>
      <if test="classificationId != null">
        classification_id = #{classificationId,jdbcType=BIGINT},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="moduleInfo != null">
        module_info = #{moduleInfo,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.azz.platform.merchant.pojo.MerchantGoodsModule">
    update merchant_goods_module
    set module_code = #{moduleCode,jdbcType=VARCHAR},
      module_name = #{moduleName,jdbcType=VARCHAR},
      module_status = #{moduleStatus,jdbcType=TINYINT},
      module_pic_url = #{modulePicUrl,jdbcType=VARCHAR},
      module_pic_name = #{modulePicName,jdbcType=VARCHAR},
      merchant_id = #{merchantId,jdbcType=BIGINT},
      classification_id = #{classificationId,jdbcType=BIGINT},
      creator = #{creator,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modifier = #{modifier,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      module_info = #{moduleInfo,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.azz.platform.merchant.pojo.MerchantGoodsModule">
    update merchant_goods_module
    set module_code = #{moduleCode,jdbcType=VARCHAR},
      module_name = #{moduleName,jdbcType=VARCHAR},
      module_status = #{moduleStatus,jdbcType=TINYINT},
      module_pic_url = #{modulePicUrl,jdbcType=VARCHAR},
      module_pic_name = #{modulePicName,jdbcType=VARCHAR},
      merchant_id = #{merchantId,jdbcType=BIGINT},
      classification_id = #{classificationId,jdbcType=BIGINT},
      creator = #{creator,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modifier = #{modifier,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <update id="updateByModuleCode" parameterType="com.azz.platform.merchant.pojo.MerchantGoodsModule">
    update merchant_goods_module
    <set>
      <if test="moduleName != null">
        module_name = #{moduleName,jdbcType=VARCHAR},
      </if>
      <if test="moduleStatus != null">
        module_status = #{moduleStatus,jdbcType=TINYINT},
      </if>
      <if test="modulePicUrl != null">
        module_pic_url = #{modulePicUrl,jdbcType=VARCHAR},
      </if>
      <if test="modulePicName != null">
        module_pic_name = #{modulePicName,jdbcType=VARCHAR},
      </if>
      <if test="merchantId != null">
        merchant_id = #{merchantId,jdbcType=BIGINT},
      </if>
      <if test="classificationId != null">
        classification_id = #{classificationId,jdbcType=BIGINT},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="moduleInfo != null">
        module_info = #{moduleInfo,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where module_code = #{moduleCode,jdbcType=VARCHAR}
  </update>
  
  <select id="getGoodsModuleInfoList" parameterType="com.azz.platform.merchant.pojo.bo.SearchGoodsModuleParam"  resultType="com.azz.platform.merchant.pojo.vo.GoodModuleInfo">
	  SELECT
		mgd.module_name AS moduleName,
		mgd.module_code AS moduleCode,
		m.merchant_name as merchantName,
		pgc3.assortment_code as assortmentCode,
		CONCAT(
			pgc1.assortment_name,
			'-',
			pgc2.assortment_name,
			'-',
			pgc3.assortment_name
		) AS classificationName,
		mgd.module_pic_url AS modulePicUrl,
		mgd.module_status AS moduleStatus,
		mgd.create_time AS createTime,
		mu.merchant_user_name AS creator
	FROM
		merchant_goods_module mgd
	LEFT JOIN merchant_user mu ON mu.merchant_user_code = mgd.creator
	LEFT JOIN merchant m on m.id = mgd.merchant_id
	LEFT JOIN platform_goods_classification pgc3 ON mgd.classification_id = pgc3.id
	LEFT JOIN platform_goods_classification pgc2 ON pgc3.assortment_parent_code = pgc2.assortment_code
	LEFT JOIN platform_goods_classification pgc1 ON pgc2.assortment_parent_code = pgc1.assortment_code
	<where>
		mgd.module_status != 0
		<if test="moduleStatus != null">
			AND mgd.module_status = #{moduleStatus}
		</if>
		<if test="searchInput != null and searchInput != ''">
			AND (
				mgd.module_name LIKE CONCAT('%', #{searchInput}, '%')
			OR mgd.module_code LIKE CONCAT('%', #{searchInput}, '%') 
			OR m.merchant_name LIKE CONCAT('%', #{searchInput}, '%') 
			)
		</if>
	</where>
	ORDER BY mgd.create_time DESC
  </select>
  
  <select id="getGoodsModuleInfo" parameterType="string"  resultType="com.azz.platform.merchant.pojo.vo.GoodModuleInfo">
	  SELECT
		mgd.module_name AS moduleName,
		mgd.module_code AS moduleCode,
		m.merchant_name as merchantName,
		pgc3.assortment_code as assortmentCode,
		CONCAT(
			pgc1.assortment_name,
			'-',
			pgc2.assortment_name,
			'-',
			pgc3.assortment_name
		) AS classificationName,
		mgd.module_pic_url AS modulePicUrl,
		mgd.module_status AS moduleStatus,
		mgd.create_time AS createTime,
		mu.merchant_user_name AS creator
	FROM
		merchant_goods_module mgd
	LEFT JOIN merchant_user mu ON mu.merchant_user_code = mgd.creator
	LEFT JOIN merchant m on m.id = mgd.merchant_id
	LEFT JOIN platform_goods_classification pgc3 ON mgd.classification_id = pgc3.id
	LEFT JOIN platform_goods_classification pgc2 ON pgc3.assortment_parent_code = pgc2.assortment_code
	LEFT JOIN platform_goods_classification pgc1 ON pgc2.assortment_parent_code = pgc1.assortment_code
	WHERE
		mgd.module_code = #{moduleCode}
  </select>
  
  <select id="countGoodsModule" resultType="int">
  	SELECT
		count(1)
	FROM 
		merchant_goods_module mgm
	<where>
		mgm.module_status != 0
		<if test="merchantId != null">
			AND mgm.merchant_id = #{merchantId}
		</if>
		<if test="moduleName != null and moduleName != ''">
			AND mgm.module_name = #{moduleName}
		</if>
		<if test="moduleCode != null and moduleCode != ''">
			AND mgm.module_code != #{moduleCode}
		</if>
	</where>
  </select>
  
  
</mapper>