<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.azz.platform.merchant.mapper.MerchantAccountMapper">
  <resultMap id="BaseResultMap" type="com.azz.platform.merchant.pojo.MerchantAccount">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="merchant_id" jdbcType="BIGINT" property="merchantId" />
    <result column="account_name" jdbcType="VARCHAR" property="accountName" />
    <result column="account_bank" jdbcType="VARCHAR" property="accountBank" />
    <result column="account_bank_card_number" jdbcType="VARCHAR" property="accountBankCardNumber" />
    <result column="account_sub_branch" jdbcType="VARCHAR" property="accountSubBranch" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="last_modify_time" jdbcType="TIMESTAMP" property="lastModifyTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, merchant_id, account_name, account_bank, account_bank_card_number, account_sub_branch, 
    creator, create_time, modifier, last_modify_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from merchant_account
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from merchant_account
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.azz.platform.merchant.pojo.MerchantAccount">
    insert into merchant_account (id, merchant_id, account_name, 
      account_bank, account_bank_card_number, account_sub_branch, 
      creator, create_time, modifier, 
      last_modify_time)
    values (#{id,jdbcType=BIGINT}, #{merchantId,jdbcType=BIGINT}, #{accountName,jdbcType=VARCHAR}, 
      #{accountBank,jdbcType=VARCHAR}, #{accountBankCardNumber,jdbcType=VARCHAR}, #{accountSubBranch,jdbcType=VARCHAR}, 
      #{creator,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{modifier,jdbcType=VARCHAR}, 
      #{lastModifyTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.azz.platform.merchant.pojo.MerchantAccount">
    insert into merchant_account
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="merchantId != null">
        merchant_id,
      </if>
      <if test="accountName != null">
        account_name,
      </if>
      <if test="accountBank != null">
        account_bank,
      </if>
      <if test="accountBankCardNumber != null">
        account_bank_card_number,
      </if>
      <if test="accountSubBranch != null">
        account_sub_branch,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifier != null">
        modifier,
      </if>
      <if test="lastModifyTime != null">
        last_modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="merchantId != null">
        #{merchantId,jdbcType=BIGINT},
      </if>
      <if test="accountName != null">
        #{accountName,jdbcType=VARCHAR},
      </if>
      <if test="accountBank != null">
        #{accountBank,jdbcType=VARCHAR},
      </if>
      <if test="accountBankCardNumber != null">
        #{accountBankCardNumber,jdbcType=VARCHAR},
      </if>
      <if test="accountSubBranch != null">
        #{accountSubBranch,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="lastModifyTime != null">
        #{lastModifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.azz.platform.merchant.pojo.MerchantAccount">
    update merchant_account
    <set>
      <if test="merchantId != null">
        merchant_id = #{merchantId,jdbcType=BIGINT},
      </if>
      <if test="accountName != null">
        account_name = #{accountName,jdbcType=VARCHAR},
      </if>
      <if test="accountBank != null">
        account_bank = #{accountBank,jdbcType=VARCHAR},
      </if>
      <if test="accountBankCardNumber != null">
        account_bank_card_number = #{accountBankCardNumber,jdbcType=VARCHAR},
      </if>
      <if test="accountSubBranch != null">
        account_sub_branch = #{accountSubBranch,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="lastModifyTime != null">
        last_modify_time = #{lastModifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.azz.platform.merchant.pojo.MerchantAccount">
    update merchant_account
    set merchant_id = #{merchantId,jdbcType=BIGINT},
      account_name = #{accountName,jdbcType=VARCHAR},
      account_bank = #{accountBank,jdbcType=VARCHAR},
      account_bank_card_number = #{accountBankCardNumber,jdbcType=VARCHAR},
      account_sub_branch = #{accountSubBranch,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modifier = #{modifier,jdbcType=VARCHAR},
      last_modify_time = #{lastModifyTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>