<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.azz.platform.merchant.mapper.MerchantGoodsProductMapper">
  <resultMap id="BaseResultMap" type="com.azz.platform.merchant.pojo.MerchantGoodsProduct">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="assortment_id" jdbcType="BIGINT" property="assortmentId" />
    <result column="product_code" jdbcType="VARCHAR" property="productCode" />
    <result column="product_system_code" jdbcType="VARCHAR" property="productSystemCode" />
    <result column="brand_id" jdbcType="BIGINT" property="brandId" />
    <result column="product_status" jdbcType="BIT" property="productStatus" />
    <result column="module_id" jdbcType="BIGINT" property="moduleId" />
    <result column="merchant_id" jdbcType="BIGINT" property="merchantId" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, assortment_id, product_code, product_system_code, brand_id, product_status, 
    module_id, creator, create_time, modifier, modify_time,merchant_id
  </sql>
  
  <!-- 提供平台端 产品列表 -->
  <select id="selectPlatformProductList" resultType="com.azz.platform.merchant.pojo.vo.PlatfomrProductList" parameterType="com.azz.platform.merchant.pojo.bo.PlatformProduct">
  select a.id productId,a.product_code productCode,a.product_system_code systemCode,b.price price,m.merchant_name merchantName,group_concat(p.params_value) params,a.product_status status,a.create_time createTime from merchant_goods_product a
	LEFT JOIN (select min(price) price,product_id from merchant_goods_product_price GROUP BY product_id )  b
	on a.id = b.product_id
	LEFT JOIN merchant m
	on a.merchant_id = m.id
	LEFT JOIN
	merchant_goods_product_params p
	on p.product_id = a.id
	
	where 1=1
	<if test="param != null and param != ''">
		and (a.product_code = #{param} or m.merchant_name = #{param})
	</if>
	<if test="status != null">
		and (a.product_status = #{status})
	</if>
	and a.product_status != 0
	GROUP BY a.id
  </select>
  
  <!-- 下架 -->
  <update id="downProduct">
  	update merchant_goods_product set product_status = 2 where id = #{id}
  </update>
  
  <!-- 产品详情 -->
  <select id="selectProductById" resultType="java.util.Map">
  select a.product_code productCode,a.product_status pStatus,a.create_time createTime,
  b.merchant_name merchantName,c.module_name moduleName
  from merchant_goods_product a
  left join merchant b
  on a.merchant_id = a.id
  left join merchant_goods_module c
  on a.module_id = c.id
  where a.id = #{id}
  </select>
  
  <select id="getProductInfoList" parameterType="com.azz.platform.merchant.pojo.bo.SearchProductInfoParam" resultType="com.azz.platform.merchant.pojo.vo.ProdInfo">
	  SELECT
		mgp.product_code AS productCode,
		t.price AS productPrice,
		mgp.product_status AS productStatus,
		pgb.brand_name AS brandName,
		t1.params AS productParams
	FROM
		merchant_goods_product mgp
	LEFT JOIN merchant_goods_module mgm on mgm.merchant_id = mgp.merchant_id and mgm.id = mgp.module_id
	LEFT JOIN (
		SELECT
			mgpp.product_id,
			min(mgpp.price) AS price
		FROM
			merchant_goods_product_price mgpp
		GROUP BY
			mgpp.product_id
	) t ON mgp.id = t.product_id
	LEFT JOIN platform_goods_brand pgb ON pgb.id = mgp.brand_id
	LEFT JOIN (
		SELECT
			mgpp.product_id,
			group_concat(mgpp.params_name) params
		FROM
			merchant_goods_product_params mgpp
		GROUP BY
			mgpp.product_id
	) t1 ON t1.product_id = mgp.id
	where mgp.product_status != 0
	  and mgm.module_code = #{moduleCode}
	<if test="searchInput != null and searchInput != ''">
		AND (  
				mgp.product_code LIKE CONCAT('%', #{searchInput}, '%')
			OR pgb.brand_name LIKE CONCAT('%', #{searchInput}, '%') 
		)
	</if>
  </select>
</mapper>