<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.azz.platform.merchant.mapper.PlatformGoodsParamsMapper">
  <resultMap id="BaseResultMap" type="com.azz.platform.merchant.pojo.PlatformGoodsParams">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="params_code" jdbcType="VARCHAR" property="paramsCode" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="create_time"  property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, params_code
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from platform_goods_params
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from platform_goods_params
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.azz.platform.merchant.pojo.PlatformGoodsParams">
    insert into platform_goods_params (id, params_code)
    values (#{id,jdbcType=BIGINT}, #{paramsCode,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.azz.platform.merchant.pojo.PlatformGoodsParams" useGeneratedKeys="true" keyProperty="id">
    insert into platform_goods_params
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="paramsCode != null">
        params_code,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="paramsCode != null">
        #{paramsCode,jdbcType=VARCHAR},
      </if>
       <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
       <if test="createTime != null">
        #{createTime}
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.azz.platform.merchant.pojo.PlatformGoodsParams">
    update platform_goods_params
    <set>
      <if test="paramsCode != null">
        params_code = #{paramsCode,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.azz.platform.merchant.pojo.PlatformGoodsParams">
    update platform_goods_params
    set params_code = #{paramsCode,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <select id="searchParamsList" resultType="com.azz.platform.merchant.pojo.vo.Params" parameterType="com.azz.platform.merchant.pojo.bo.SearchParams">
  select a.params_code paramCode ,b.assortment_name assortmentName , c.productUseCount,d.paramsCount ,a.create_time createTime from platform_goods_params a
	LEFT JOIN platform_goods_classification b on b.assortment_params_id = a.id
	LEFT JOIN (select assortment_id ,count(1) as productUseCount from merchant_goods_product group by assortment_id) c on 
	a.id = c.assortment_id
	LEFT JOIN (select params_id ,count(1) as paramsCount from platform_goods_params_term group by params_id) d on
	a.id = d.params_id
	<where>
		<if test="param != null and param != ''">
			a.params_code LIKE CONCAT('%',#{param},'%') or b.assortment_name LIKE CONCAT('%',#{param},'%')
		</if>
	</where>
  </select>
  <select id="selectParamsByCode" resultMap="BaseResultMap" parameterType="java.lang.String">
  select id from platform_goods_params where params_code=#{code}
  </select>
</mapper>