<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.azz.wx.course.mapper.WxActivityOrderMapper">
  <resultMap id="BaseResultMap" type="com.azz.wx.course.pojo.WxActivityOrder">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="order_code" jdbcType="VARCHAR" property="orderCode" />
    <result column="openid" jdbcType="VARCHAR" property="openid" />
    <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
    <result column="head_image_url" jdbcType="VARCHAR" property="headImageUrl" />
    <result column="order_status" jdbcType="TINYINT" property="orderStatus" />
    <result column="grand_total" jdbcType="DECIMAL" property="grandTotal" />
    <result column="payment_method" jdbcType="TINYINT" property="paymentMethod" />
    <result column="payment_status" jdbcType="TINYINT" property="paymentStatus" />
    <result column="payment_type" jdbcType="TINYINT" property="paymentType" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, order_code, openid, nick_name, head_image_url, order_status, grand_total, payment_method, 
    payment_status, payment_type, status, remark, creator, create_time, modifier, modify_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from wx_activity_order
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from wx_activity_order
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.azz.wx.course.pojo.WxActivityOrder">
    insert into wx_activity_order (id, order_code, openid, 
      nick_name, head_image_url, order_status, 
      grand_total, payment_method, payment_status, 
      payment_type, status, remark, 
      creator, create_time, modifier, 
      modify_time)
    values (#{id,jdbcType=BIGINT}, #{orderCode,jdbcType=VARCHAR}, #{openid,jdbcType=VARCHAR}, 
      #{nickName,jdbcType=VARCHAR}, #{headImageUrl,jdbcType=VARCHAR}, #{orderStatus,jdbcType=TINYINT}, 
      #{grandTotal,jdbcType=DECIMAL}, #{paymentMethod,jdbcType=TINYINT}, #{paymentStatus,jdbcType=TINYINT}, 
      #{paymentType,jdbcType=TINYINT}, #{status,jdbcType=TINYINT}, #{remark,jdbcType=VARCHAR}, 
      #{creator,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{modifier,jdbcType=VARCHAR}, 
      #{modifyTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.azz.wx.course.pojo.WxActivityOrder">
    insert into wx_activity_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="orderCode != null">
        order_code,
      </if>
      <if test="openid != null">
        openid,
      </if>
      <if test="nickName != null">
        nick_name,
      </if>
      <if test="headImageUrl != null">
        head_image_url,
      </if>
      <if test="orderStatus != null">
        order_status,
      </if>
      <if test="grandTotal != null">
        grand_total,
      </if>
      <if test="paymentMethod != null">
        payment_method,
      </if>
      <if test="paymentStatus != null">
        payment_status,
      </if>
      <if test="paymentType != null">
        payment_type,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifier != null">
        modifier,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="orderCode != null">
        #{orderCode,jdbcType=VARCHAR},
      </if>
      <if test="openid != null">
        #{openid,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null">
        #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="headImageUrl != null">
        #{headImageUrl,jdbcType=VARCHAR},
      </if>
      <if test="orderStatus != null">
        #{orderStatus,jdbcType=TINYINT},
      </if>
      <if test="grandTotal != null">
        #{grandTotal,jdbcType=DECIMAL},
      </if>
      <if test="paymentMethod != null">
        #{paymentMethod,jdbcType=TINYINT},
      </if>
      <if test="paymentStatus != null">
        #{paymentStatus,jdbcType=TINYINT},
      </if>
      <if test="paymentType != null">
        #{paymentType,jdbcType=TINYINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.azz.wx.course.pojo.WxActivityOrder">
    update wx_activity_order
    <set>
      <if test="orderCode != null">
        order_code = #{orderCode,jdbcType=VARCHAR},
      </if>
      <if test="openid != null">
        openid = #{openid,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null">
        nick_name = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="headImageUrl != null">
        head_image_url = #{headImageUrl,jdbcType=VARCHAR},
      </if>
      <if test="orderStatus != null">
        order_status = #{orderStatus,jdbcType=TINYINT},
      </if>
      <if test="grandTotal != null">
        grand_total = #{grandTotal,jdbcType=DECIMAL},
      </if>
      <if test="paymentMethod != null">
        payment_method = #{paymentMethod,jdbcType=TINYINT},
      </if>
      <if test="paymentStatus != null">
        payment_status = #{paymentStatus,jdbcType=TINYINT},
      </if>
      <if test="paymentType != null">
        payment_type = #{paymentType,jdbcType=TINYINT},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <update id="updateByOrderCode" parameterType="com.azz.wx.course.pojo.WxActivityOrder">
    update wx_activity_order
    <set>
      <if test="openid != null">
        openid = #{openid,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null">
        nick_name = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="headImageUrl != null">
        head_image_url = #{headImageUrl,jdbcType=VARCHAR},
      </if>
      <if test="orderStatus != null">
        order_status = #{orderStatus,jdbcType=TINYINT},
      </if>
      <if test="grandTotal != null">
        grand_total = #{grandTotal,jdbcType=DECIMAL},
      </if>
      <if test="paymentMethod != null">
        payment_method = #{paymentMethod,jdbcType=TINYINT},
      </if>
      <if test="paymentStatus != null">
        payment_status = #{paymentStatus,jdbcType=TINYINT},
      </if>
      <if test="paymentType != null">
        payment_type = #{paymentType,jdbcType=TINYINT},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where order_code = #{orderCode,jdbcType=VARCHAR}
  </update>
  
  <update id="updateByPrimaryKey" parameterType="com.azz.wx.course.pojo.WxActivityOrder">
    update wx_activity_order
    set order_code = #{orderCode,jdbcType=VARCHAR},
      openid = #{openid,jdbcType=VARCHAR},
      nick_name = #{nickName,jdbcType=VARCHAR},
      head_image_url = #{headImageUrl,jdbcType=VARCHAR},
      order_status = #{orderStatus,jdbcType=TINYINT},
      grand_total = #{grandTotal,jdbcType=DECIMAL},
      payment_method = #{paymentMethod,jdbcType=TINYINT},
      payment_status = #{paymentStatus,jdbcType=TINYINT},
      payment_type = #{paymentType,jdbcType=TINYINT},
      status = #{status,jdbcType=TINYINT},
      remark = #{remark,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modifier = #{modifier,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <select id="getPayOrderInfo" parameterType="string" resultType="com.azz.wx.course.pojo.vo.ActivityPayOrderInfo">
	SELECT
		wao.order_code AS orderCode,
		wao.order_status AS orderStatus,
		waoi.activity_code AS activityCode,
		waoi.activity_name AS activityName,
		waoi.user_name as userName, 
      	waoi.phone_number as phoneNumber, 
      	waoi.company_name as companyName, 
      	waoi.position as position, 
      	waoi.main_product_or_service as mainProductOrService,
		wa.activity_time AS activityTime,
		wa.price AS price
	FROM
		wx_activity_order wao
	JOIN wx_activity_order_item waoi ON wao.order_code = waoi.order_code
	JOIN wx_activity wa ON waoi.activity_code = wa.activity_code
	WHERE
		wao.order_code = #{orderCode}
  </select>
</mapper>