<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.azz.wx.course.mapper.WxCourseMapper">
  <resultMap id="BaseResultMap" type="com.azz.wx.course.pojo.WxCourse">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="classification_code" jdbcType="VARCHAR" property="classificationCode" />
    <result column="brand_code" jdbcType="VARCHAR" property="brandCode" />
    <result column="course_code" jdbcType="VARCHAR" property="courseCode" />
    <result column="course_name" jdbcType="VARCHAR" property="courseName" />
    <result column="course_description" jdbcType="VARCHAR" property="courseDescription" />
    <result column="course_pic_name" jdbcType="VARCHAR" property="coursePicName" />
    <result column="course_pic_url" jdbcType="VARCHAR" property="coursePicUrl" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.azz.wx.course.pojo.WxCourse">
    <result column="course_info" jdbcType="LONGVARCHAR" property="courseInfo" />
  </resultMap>
  <sql id="Base_Column_List">
    id, classification_code, brand_code, course_code, course_name, course_description, course_pic_name, 
    course_pic_url, status, remark, creator, create_time, modifier, modify_time
  </sql>
  <sql id="Blob_Column_List">
    course_info
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from wx_course
    where id = #{id,jdbcType=BIGINT}
  </select>
  
  <select id="selectByCourseCode" parameterType="string" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from wx_course
    where course_code = #{courseCode}
    and status != 0
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from wx_course
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.azz.wx.course.pojo.WxCourse">
    insert into wx_course (id, classification_code, brand_code, course_code, 
      course_name, course_description, course_pic_name, 
      course_pic_url, status, remark, 
      creator, create_time, modifier, 
      modify_time, course_info)
    values (#{id,jdbcType=BIGINT}, #{classificationCode,jdbcType=VARCHAR}, #{brandCode,jdbcType=VARCHAR}, #{courseCode,jdbcType=VARCHAR}, 
      #{courseName,jdbcType=VARCHAR}, #{courseDescription,jdbcType=VARCHAR}, #{coursePicName,jdbcType=VARCHAR}, 
      #{coursePicUrl,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, #{remark,jdbcType=VARCHAR}, 
      #{creator,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{modifier,jdbcType=VARCHAR}, 
      #{modifyTime,jdbcType=TIMESTAMP}, #{courseInfo,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.azz.wx.course.pojo.WxCourse">
    insert into wx_course
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="classificationCode != null">
        classification_code,
      </if>
      <if test="brandCode != null">
        brand_code,
      </if>
      <if test="courseCode != null">
        course_code,
      </if>
      <if test="courseName != null">
        course_name,
      </if>
      <if test="courseDescription != null">
        course_description,
      </if>
      <if test="coursePicName != null">
        course_pic_name,
      </if>
      <if test="coursePicUrl != null">
        course_pic_url,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifier != null">
        modifier,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
      <if test="courseInfo != null">
        course_info,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="classificationCode != null">
        #{classificationCode,jdbcType=VARCHAR},
      </if>
      <if test="brandCode != null">
        #{brandCode,jdbcType=VARCHAR},
      </if>
      <if test="courseCode != null">
        #{courseCode,jdbcType=VARCHAR},
      </if>
      <if test="courseName != null">
        #{courseName,jdbcType=VARCHAR},
      </if>
      <if test="courseDescription != null">
        #{courseDescription,jdbcType=VARCHAR},
      </if>
      <if test="coursePicName != null">
        #{coursePicName,jdbcType=VARCHAR},
      </if>
      <if test="coursePicUrl != null">
        #{coursePicUrl,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="courseInfo != null">
        #{courseInfo,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.azz.wx.course.pojo.WxCourse">
    update wx_course
    <set>
      <if test="classificationCode != null">
        classification_code = #{classificationCode,jdbcType=VARCHAR},
      </if>
      <if test="brandCode != null">
        brand_code = #{brandCode,jdbcType=VARCHAR},
      </if>
      <if test="courseCode != null">
        course_code = #{courseCode,jdbcType=VARCHAR},
      </if>
      <if test="courseName != null">
        course_name = #{courseName,jdbcType=VARCHAR},
      </if>
      <if test="courseDescription != null">
        course_description = #{courseDescription,jdbcType=VARCHAR},
      </if>
      <if test="coursePicName != null">
        course_pic_name = #{coursePicName,jdbcType=VARCHAR},
      </if>
      <if test="coursePicUrl != null">
        course_pic_url = #{coursePicUrl,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="courseInfo != null">
        course_info = #{courseInfo,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.azz.wx.course.pojo.WxCourse">
    update wx_course
    set classification_code = #{classificationCode,jdbcType=VARCHAR},
      brand_code = #{brandCode,jdbcType=VARCHAR},
      course_code = #{courseCode,jdbcType=VARCHAR},
      course_name = #{courseName,jdbcType=VARCHAR},
      course_description = #{courseDescription,jdbcType=VARCHAR},
      course_pic_name = #{coursePicName,jdbcType=VARCHAR},
      course_pic_url = #{coursePicUrl,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      remark = #{remark,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modifier = #{modifier,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      course_info = #{courseInfo,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.azz.wx.course.pojo.WxCourse">
    update wx_course
    set classification_code = #{classificationCode,jdbcType=VARCHAR},
      brand_code = #{brandCode,jdbcType=VARCHAR},
      course_code = #{courseCode,jdbcType=VARCHAR},
      course_name = #{courseName,jdbcType=VARCHAR},
      course_description = #{courseDescription,jdbcType=VARCHAR},
      course_pic_name = #{coursePicName,jdbcType=VARCHAR},
      course_pic_url = #{coursePicUrl,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      remark = #{remark,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modifier = #{modifier,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <select id="getCourseInfos" parameterType="com.azz.wx.course.pojo.bo.SearchCourseInfoParam" resultType="com.azz.wx.course.pojo.vo.CourseInfo">
  	SELECT
		wc.course_code AS courseCode,
		wc.course_name AS courseName,
		wc.course_pic_name AS coursePicName,
		wcb.brand_name AS brandName,
		wc.course_pic_url AS coursePicUrl,
		wc. STATUS AS STATUS,
		wc.create_time AS createTime,
		t.start_class_time AS latelyStartClassTime,
		t.location AS latelyStartClassLocation,
		t.people_number AS peopleNumber,
		t.hours AS hours
	FROM
		wx_course wc
	JOIN wx_course_brand wcb ON wc.brand_code = wcb.brand_code
	LEFT JOIN (
		SELECT
			descStartClassRecord.course_code,
			descStartClassRecord.start_class_time,
			descStartClassRecord.location,
			descStartClassRecord.people_number,
			descStartClassRecord.hours
		FROM
			(
				SELECT
					wscr.course_code,
					wscr.start_class_time,
					wscr.location,
					wscr.people_number,
					wscr.hours
				FROM
					wx_course_start_class_record wscr
				ORDER BY
					wscr.create_time DESC
			) descStartClassRecord
		GROUP BY
			descStartClassRecord.course_code
	) t ON t.course_code = wc.course_code
	<where>
		wc.status != 0
		<if test="status != null">
			AND wc.status = #{status}
		</if>
		<if test="courseName != null and courseName != ''">
			AND wc.course_name LIKE CONCAT('%', #{courseName}, '%') 
		</if>
	</where>
	ORDER BY wc.create_time DESC
  </select>
  
  <select id="getCourseDetail" parameterType="string" resultType="com.azz.wx.course.pojo.vo.CourseDetail">
	SELECT
		wc.course_code AS courseCode,
		wc.course_name AS courseName,
		wcb.brand_code AS brandCode,
		wcb.brand_name AS brandName,
		wc.course_description AS courseDescription,
		wc.course_pic_name AS coursePicName,
		wc.course_pic_url AS coursePicUrl,
		wc.course_info AS courseInfo,
		wc.`status` AS status,
		wc.classification_code AS classificationCode,
		wcc.classification_name AS classificationName
	FROM
		wx_course wc
	JOIN wx_course_brand wcb ON wc.brand_code = wcb.brand_code	
	LEFT JOIN wx_course_classification wcc ON wc.classification_code = wcc.classification_code
	WHERE wc.course_code = #{courseCode}
  </select>
  
  <resultMap id="param" type="com.azz.wx.course.pojo.vo.Param">
  	<result column="paramCode" jdbcType="VARCHAR" property="paramCode" />
  	<collection property="paramTerms" ofType="com.azz.wx.course.pojo.vo.ParamTerm">
  		<result column="paramTermCode" property="paramTermCode" jdbcType="VARCHAR"/>
        <result column="paramName" property="paramName" jdbcType="VARCHAR"/>
        <result column="paramType" property="paramType" jdbcType="TINYINT"/>
        <result column="paramChoice" property="paramChoice" jdbcType="TINYINT"/>
        <result column="paramValues" property="paramValues" jdbcType="VARCHAR"/>
    </collection>
  </resultMap>
  
  <select id="getAllParamsByClassificationCode" parameterType="string" resultMap="param">
	SELECT
		wcp.param_code AS paramCode,
		wcpt.param_term_code AS paramTermCode,
		wcpt.param_name AS paramName,
		wcpt.param_type AS paramType,
		wcpt.param_choice AS paramChoice,
		GROUP_CONCAT(wcptv.param_value) AS paramValues
	FROM
		wx_course_param wcp
	JOIN wx_course_param_term wcpt ON wcpt.param_code = wcp.param_code
	JOIN wx_course_param_term_value wcptv ON wcptv.param_term_code = wcpt.param_term_code
	where wcp.classification_code = #{classificationCode}
	GROUP BY wcptv.param_term_code
  </select>
  
  <select id="getCourseParamsByCourseCode" parameterType="string" resultMap="param">
	SELECT
		wcpr.param_code AS paramCode,
		wcpr.param_term_code AS paramTermCode,
		wcpr.param_name AS paramName,
		wcpr.param_type AS paramType,
		wcpr.param_choice AS paramChoice,
		GROUP_CONCAT(wcpr.param_term_value) AS paramValues
	FROM
		wx_course_param_rel wcpr
	where wcpr.course_code = #{courseCode}
	GROUP BY wcpr.param_term_code 
  </select>
  
  <select id="getIndexCourseInfos" parameterType="com.azz.wx.course.pojo.bo.SearchCourseInfoParam" resultType="com.azz.wx.course.pojo.vo.CourseInfo">
  	SELECT
		wc.course_code AS courseCode,
		wc.course_name AS courseName,
		wc.course_pic_name AS coursePicName,
		wc.course_pic_url AS coursePicUrl,
		t.latelyStartClassTime AS latelyStartClassTime,
		t1.minPrice AS minPrice
	FROM
		wx_course wc
	LEFT JOIN (
		SELECT
			wscr.course_code,
			max(wscr.start_class_time) AS latelyStartClassTime
		FROM
			wx_course_start_class_record wscr
		GROUP BY
			wscr.course_code
	) t ON t.course_code = wc.course_code
	LEFT JOIN (
		SELECT
			wscr.course_code,
			min(wscr.price) AS minPrice
		FROM
			wx_course_start_class_record wscr
		GROUP BY
			wscr.course_code
	) t1 ON t1.course_code = wc.course_code
	JOIN wx_course_classification wcc3 on wcc3.classification_code = wc.classification_code
	JOIN wx_course_classification wcc2 on wcc3.classification_parent_code = wcc2.classification_code
	<where>
		wc.status != 0
		<if test="status != null">
			AND wc.status = #{status}
		</if>
		<if test="courseName != null and courseName != ''">
			AND wc.course_name LIKE CONCAT('%', #{courseName}, '%') 
		</if>
		<if test="classificationCode != null and classificationCode != ''">
			AND wcc2.classification_code = #{classificationCode}
		</if>
	</where>
	<if test="sortType == 1">
		ORDER BY wc.create_time DESC
	</if>
	<if test="sortType == 2">
		ORDER BY wc.create_time ASC
	</if>
	<if test="sortType == 3">
		ORDER BY t.latelyStartClassTime DESC, wc.create_time DESC
	</if>
	<if test="sortType == 4">
		ORDER BY t.latelyStartClassTime ASC, wc.create_time DESC
	</if>
	<if test="sortType == 5">
		ORDER BY t1.minPrice DESC, wc.create_time DESC
	</if>
	<if test="sortType == 6">
		ORDER BY t1.minPrice ASC, wc.create_time DESC
	</if>
  </select>
  
  <select id="getIndexCourseDetail" parameterType="string" resultType="com.azz.wx.course.pojo.vo.CourseDetail">
	SELECT
		wc.course_code AS courseCode,
		wc.course_name AS courseName,
		wc.course_pic_name AS coursePicName,
		wc.course_pic_url AS coursePicUrl,
		t.start_class_time AS latelyStartClassTime,
		t.hours AS hours,
		IFNULL(t1.buyCount, 0) AS buyCount
	FROM
		wx_course wc
	LEFT JOIN (
		SELECT
			descStartClassRecord.course_code,
			descStartClassRecord.start_class_time,
			descStartClassRecord.hours
		FROM
			(
				SELECT
					wscr.course_code,
					wscr.start_class_time,
					wscr.hours
				FROM
					wx_course_start_class_record wscr
				WHERE 
					wscr.course_code = #{courseCode}
				ORDER BY
					wscr.create_time DESC
			) descStartClassRecord
		GROUP BY
			descStartClassRecord.course_code
	) t ON t.course_code = wc.course_code
	LEFT JOIN (
		SELECT
			wcoi.course_code,
			count(1) AS buyCount
		FROM
			wx_course_order_item wcoi
		WHERE
			wcoi.course_code = #{courseCode}
	) t1 ON t1.course_code = wc.course_code
	WHERE
		wc.course_code = #{courseCode}
  </select>
  
</mapper>