<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.azz.wx.course.mapper.WxCourseOrderMapper">
  <resultMap id="BaseResultMap" type="com.azz.wx.course.pojo.WxCourseOrder">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="order_code" jdbcType="VARCHAR" property="orderCode" />
    <result column="order_creator" jdbcType="VARCHAR" property="orderCreator" />
    <result column="order_status_id" jdbcType="INTEGER" property="orderStatusId" />
    <result column="apply_info_code" jdbcType="VARCHAR" property="applyInfoCode" />
    <result column="grand_total" jdbcType="DECIMAL" property="grandTotal" />
    <result column="payment_method" jdbcType="INTEGER" property="paymentMethod" />
    <result column="payment_status" jdbcType="INTEGER" property="paymentStatus" />
    <result column="payment_type" jdbcType="INTEGER" property="paymentType" />
    <result column="invoice_status" jdbcType="INTEGER" property="invoiceStatus" />
    <result column="confirm_person" jdbcType="VARCHAR" property="confirmPerson" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, order_code, order_creator, order_status_id, apply_info_code, grand_total, payment_method, 
    payment_status, payment_type, invoice_status, confirm_person, status, remark, creator, 
    create_time, modifier, modify_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from wx_course_order
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from wx_course_order
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.azz.wx.course.pojo.WxCourseOrder">
    insert into wx_course_order (id, order_code, order_creator, 
      order_status_id, apply_info_code, grand_total, 
      payment_method, payment_status, payment_type, 
      invoice_status, confirm_person, status, 
      remark, creator, create_time, 
      modifier, modify_time)
    values (#{id,jdbcType=BIGINT}, #{orderCode,jdbcType=VARCHAR}, #{orderCreator,jdbcType=VARCHAR}, 
      #{orderStatusId,jdbcType=INTEGER}, #{applyInfoCode,jdbcType=VARCHAR}, #{grandTotal,jdbcType=DECIMAL}, 
      #{paymentMethod,jdbcType=INTEGER}, #{paymentStatus,jdbcType=INTEGER}, #{paymentType,jdbcType=INTEGER}, 
      #{invoiceStatus,jdbcType=INTEGER}, #{confirmPerson,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{remark,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{modifier,jdbcType=VARCHAR}, #{modifyTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.azz.wx.course.pojo.WxCourseOrder">
    insert into wx_course_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="orderCode != null">
        order_code,
      </if>
      <if test="orderCreator != null">
        order_creator,
      </if>
      <if test="orderStatusId != null">
        order_status_id,
      </if>
      <if test="applyInfoCode != null">
        apply_info_code,
      </if>
      <if test="grandTotal != null">
        grand_total,
      </if>
      <if test="paymentMethod != null">
        payment_method,
      </if>
      <if test="paymentStatus != null">
        payment_status,
      </if>
      <if test="paymentType != null">
        payment_type,
      </if>
      <if test="invoiceStatus != null">
        invoice_status,
      </if>
      <if test="confirmPerson != null">
        confirm_person,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifier != null">
        modifier,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="orderCode != null">
        #{orderCode,jdbcType=VARCHAR},
      </if>
      <if test="orderCreator != null">
        #{orderCreator,jdbcType=VARCHAR},
      </if>
      <if test="orderStatusId != null">
        #{orderStatusId,jdbcType=INTEGER},
      </if>
      <if test="applyInfoCode != null">
        #{applyInfoCode,jdbcType=VARCHAR},
      </if>
      <if test="grandTotal != null">
        #{grandTotal,jdbcType=DECIMAL},
      </if>
      <if test="paymentMethod != null">
        #{paymentMethod,jdbcType=INTEGER},
      </if>
      <if test="paymentStatus != null">
        #{paymentStatus,jdbcType=INTEGER},
      </if>
      <if test="paymentType != null">
        #{paymentType,jdbcType=INTEGER},
      </if>
      <if test="invoiceStatus != null">
        #{invoiceStatus,jdbcType=INTEGER},
      </if>
      <if test="confirmPerson != null">
        #{confirmPerson,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.azz.wx.course.pojo.WxCourseOrder">
    update wx_course_order
    <set>
      <if test="orderCode != null">
        order_code = #{orderCode,jdbcType=VARCHAR},
      </if>
      <if test="orderCreator != null">
        order_creator = #{orderCreator,jdbcType=VARCHAR},
      </if>
      <if test="orderStatusId != null">
        order_status_id = #{orderStatusId,jdbcType=INTEGER},
      </if>
      <if test="applyInfoCode != null">
        apply_info_code = #{applyInfoCode,jdbcType=VARCHAR},
      </if>
      <if test="grandTotal != null">
        grand_total = #{grandTotal,jdbcType=DECIMAL},
      </if>
      <if test="paymentMethod != null">
        payment_method = #{paymentMethod,jdbcType=INTEGER},
      </if>
      <if test="paymentStatus != null">
        payment_status = #{paymentStatus,jdbcType=INTEGER},
      </if>
      <if test="paymentType != null">
        payment_type = #{paymentType,jdbcType=INTEGER},
      </if>
      <if test="invoiceStatus != null">
        invoice_status = #{invoiceStatus,jdbcType=INTEGER},
      </if>
      <if test="confirmPerson != null">
        confirm_person = #{confirmPerson,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.azz.wx.course.pojo.WxCourseOrder">
    update wx_course_order
    set order_code = #{orderCode,jdbcType=VARCHAR},
      order_creator = #{orderCreator,jdbcType=VARCHAR},
      order_status_id = #{orderStatusId,jdbcType=INTEGER},
      apply_info_code = #{applyInfoCode,jdbcType=VARCHAR},
      grand_total = #{grandTotal,jdbcType=DECIMAL},
      payment_method = #{paymentMethod,jdbcType=INTEGER},
      payment_status = #{paymentStatus,jdbcType=INTEGER},
      payment_type = #{paymentType,jdbcType=INTEGER},
      invoice_status = #{invoiceStatus,jdbcType=INTEGER},
      confirm_person = #{confirmPerson,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modifier = #{modifier,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <select id="getCountOrders" parameterType="java.lang.String" resultType="int">
  	SELECT COUNT(0) FROM wx_course_order WHERE creator = #{userCode,jdbcType=VARCHAR}
  </select>
  
  <select id="getCountOrdersStatus" parameterType="java.lang.Integer" resultType="int">
  	SELECT COUNT(0) FROM wx_course_order WHERE order_status_id = #{orderStatus}
  </select>
  
  <select id="getUserPhone" parameterType="java.lang.String" resultType="java.lang.String">
  	SELECT phone_number FROM client_user WHERE client_user_code = #{userCode,jdbcType=VARCHAR}
  </select>

  <select id="getPayOrderInfo" parameterType="string" resultType="com.azz.wx.course.pojo.vo.PayOrderInfo">
    SELECT
		wcoi.course_name AS courseName,
		wcoi.start_class_code AS startClassCode,
		wcoi.start_class_name AS startClassName,
		wcoi.start_class_time AS startClassTime,
		wcoi.price AS price,
		wco. STATUS AS orderStatus
	FROM
		wx_course_order wco
	JOIN wx_course_order_item wcoi ON wco.order_code = wcoi.order_code
	WHERE
		wco.order_code = #{orderCode}
  </select>
  
  <select id="getCourseOrders" parameterType="com.azz.wx.course.pojo.bo.SearchCourseOrderParam" resultType="com.azz.wx.course.pojo.vo.CourseOrderInfo">
    SELECT
		wc.course_pic_name AS coursePicName,
		wc.course_pic_url AS coursePicUrl,
		wcoi.course_name AS courseName,
		wcoi.start_class_time AS startClassTime,
		wcoi.price AS price,
		wco.order_code as orderCode,
		wco. STATUS AS orderStatus,
		wco.create_time as orderTime
	FROM
		wx_course_order wco
	JOIN wx_course_order_item wcoi ON wco.order_code = wcoi.order_code
	JOIN wx_course wc on wcoi.course_code = wc.course_code
	<where>
	 	wco.creator = #{userCode}
	 	<if test="orderStatusId != null">
			AND wco.order_status_id = #{orderStatusId}
	 	</if>
	</where>
	ORDER BY wco.create_time DESC
  </select>
  
</mapper>