<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.azz.wx.course.mapper.WxCourseParamMapper">
  <resultMap id="BaseResultMap" type="com.azz.wx.course.pojo.WxCourseParam">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="param_code" jdbcType="VARCHAR" property="paramCode" />
    <result column="classification_code" jdbcType="VARCHAR" property="classificationCode" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, param_code, classification_code, creator, create_time, modifier, modify_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from wx_course_param
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from wx_course_param
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <select id="searchParamsList" resultType="com.azz.wx.course.pojo.vo.Params" parameterType="com.azz.wx.course.pojo.bo.SearchParams">
  select a.param_code paramCode ,b.classification_name assortmentName ,a.classification_code aId, c.productUseCount,d.paramsCount ,a.create_time createTime from wx_course_param a
	LEFT JOIN wx_course_classification b on b.classification_code = a.classification_code
	LEFT JOIN (select classification_code ,count(1) as productUseCount from wx_course group by classification_code) c on 
	a.classification_code = c.classification_code
	LEFT JOIN (select param_code ,count(1) as paramsCount from wx_course_param_term group by param_code) d on
	a.param_code = d.param_code
	<where>
		<if test="param != null and param != ''">
			a.param_code LIKE CONCAT('%',#{param},'%') or b.assortment_name LIKE CONCAT('%',#{param},'%')
		</if>
	</where>
  </select>
  <insert id="insert" parameterType="com.azz.wx.course.pojo.WxCourseParam">
    insert into wx_course_param (id, param_code, classification_code, 
      creator, create_time, modifier, 
      modify_time)
    values (#{id,jdbcType=BIGINT}, #{paramCode,jdbcType=VARCHAR}, #{classificationCode,jdbcType=VARCHAR}, 
      #{creator,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{modifier,jdbcType=VARCHAR}, 
      #{modifyTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.azz.wx.course.pojo.WxCourseParam">
    insert into wx_course_param
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="paramCode != null">
        param_code,
      </if>
      <if test="classificationCode != null">
        classification_code,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifier != null">
        modifier,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="paramCode != null">
        #{paramCode,jdbcType=VARCHAR},
      </if>
      <if test="classificationCode != null">
        #{classificationCode,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.azz.wx.course.pojo.WxCourseParam">
    update wx_course_param
    <set>
      <if test="paramCode != null">
        param_code = #{paramCode,jdbcType=VARCHAR},
      </if>
      <if test="classificationCode != null">
        classification_code = #{classificationCode,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.azz.wx.course.pojo.WxCourseParam">
    update wx_course_param
    set param_code = #{paramCode,jdbcType=VARCHAR},
      classification_code = #{classificationCode,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modifier = #{modifier,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <select id="selectParamsByCode" resultMap="BaseResultMap" parameterType="java.lang.String">
  select <include refid="Base_Column_List"></include> from wx_course_param where param_code=#{code}
  </select>
  
   <delete id="deleteByCode" parameterType="java.lang.String">
    delete from wx_course_param
    where params_code = #{code,jdbcType=VARCHAR}
  </delete>
  
  <update id="updateAssormentIdById">
    update wx_course_param
    set classification_code = #{classCode}
    where param_code = #{pCode}
  </update>
</mapper>