<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.dao.ClientUserCompanyMapper">
  <resultMap id="BaseResultMap" type="com.azz.platform.client.pojo.ClientUserCompany">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="company_code" jdbcType="VARCHAR" property="companyCode" />
    <result column="client_user_code" jdbcType="VARCHAR" property="clientUserCode" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="credit_code" jdbcType="VARCHAR" property="creditCode" />
    <result column="company_tel" jdbcType="VARCHAR" property="companyTel" />
    <result column="trading_certificate_first_file_name" jdbcType="VARCHAR" property="tradingCertificateFirstFileName" />
    <result column="trading_certificate_first_file_url" jdbcType="VARCHAR" property="tradingCertificateFirstFileUrl" />
    <result column="trading_certificate_second_file_name" jdbcType="VARCHAR" property="tradingCertificateSecondFileName" />
    <result column="trading_certificate_second_file_url" jdbcType="VARCHAR" property="tradingCertificateSecondFileUrl" />
    <result column="trading_certificate_third_file_name" jdbcType="VARCHAR" property="tradingCertificateThirdFileName" />
    <result column="trading_certificate_third_file_url" jdbcType="VARCHAR" property="tradingCertificateThirdFileUrl" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="last_modify_time" jdbcType="TIMESTAMP" property="lastModifyTime" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    id,company_code, client_user_code, company_name, credit_code, company_tel, trading_certificate_first_file_name, 
    trading_certificate_first_file_url, trading_certificate_second_file_name, trading_certificate_second_file_url, 
    trading_certificate_third_file_name, trading_certificate_third_file_url, create_time, 
    creator, last_modify_time, modifier, remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from client_user_company
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from client_user_company
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.azz.platform.client.pojo.ClientUserCompany">
    insert into client_user_company (id, company_code, client_user_code, company_name, credit_code,
      company_tel, trading_certificate_first_file_name, 
      trading_certificate_first_file_url, trading_certificate_second_file_name, 
      trading_certificate_second_file_url, trading_certificate_third_file_name, 
      trading_certificate_third_file_url, create_time, 
      creator, last_modify_time, modifier, 
      remark)
    values (#{id,jdbcType=BIGINT}, #{companyCode,jdbcType=VARCHAR}, #{clientUserCode,jdbcType=VARCHAR}, #{companyName,jdbcType=VARCHAR},#{creditCode,jdbcType=VARCHAR}, 
      #{companyTel,jdbcType=VARCHAR}, #{tradingCertificateFirstFileName,jdbcType=VARCHAR}, 
      #{tradingCertificateFirstFileUrl,jdbcType=VARCHAR}, #{tradingCertificateSecondFileName,jdbcType=VARCHAR}, 
      #{tradingCertificateSecondFileUrl,jdbcType=VARCHAR}, #{tradingCertificateThirdFileName,jdbcType=VARCHAR}, 
      #{tradingCertificateThirdFileUrl,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{creator,jdbcType=VARCHAR}, #{lastModifyTime,jdbcType=TIMESTAMP}, #{modifier,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.azz.platform.client.pojo.ClientUserCompany">
    insert into client_user_company
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="companyCode != null">
        company_code,
      </if>
      <if test="clientUserCode != null">
        client_user_code,
      </if>
      <if test="companyName != null">
        company_name,
      </if>
       <if test="creditCode != null">
        credit_code,
      </if>
      <if test="companyTel != null">
        company_tel,
      </if>
      <if test="tradingCertificateFirstFileName != null">
        trading_certificate_first_file_name,
      </if>
      <if test="tradingCertificateFirstFileUrl != null">
        trading_certificate_first_file_url,
      </if>
      <if test="tradingCertificateSecondFileName != null">
        trading_certificate_second_file_name,
      </if>
      <if test="tradingCertificateSecondFileUrl != null">
        trading_certificate_second_file_url,
      </if>
      <if test="tradingCertificateThirdFileName != null">
        trading_certificate_third_file_name,
      </if>
      <if test="tradingCertificateThirdFileUrl != null">
        trading_certificate_third_file_url,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="lastModifyTime != null">
        last_modify_time,
      </if>
      <if test="modifier != null">
        modifier,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="companyCode != null">
         #{companyCode,jdbcType=VARCHAR},
      </if>
      <if test="clientUserCode != null">
        #{clientUserCode,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null">
        #{companyName,jdbcType=VARCHAR},
      </if>
       <if test="creditCode != null">
        #{creditCode,jdbcType=VARCHAR},
      </if>
      <if test="companyTel != null">
        #{companyTel,jdbcType=VARCHAR},
      </if>
      <if test="tradingCertificateFirstFileName != null">
        #{tradingCertificateFirstFileName,jdbcType=VARCHAR},
      </if>
      <if test="tradingCertificateFirstFileUrl != null">
        #{tradingCertificateFirstFileUrl,jdbcType=VARCHAR},
      </if>
      <if test="tradingCertificateSecondFileName != null">
        #{tradingCertificateSecondFileName,jdbcType=VARCHAR},
      </if>
      <if test="tradingCertificateSecondFileUrl != null">
        #{tradingCertificateSecondFileUrl,jdbcType=VARCHAR},
      </if>
      <if test="tradingCertificateThirdFileName != null">
        #{tradingCertificateThirdFileName,jdbcType=VARCHAR},
      </if>
      <if test="tradingCertificateThirdFileUrl != null">
        #{tradingCertificateThirdFileUrl,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="lastModifyTime != null">
        #{lastModifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.azz.platform.client.pojo.ClientUserCompany">
    update client_user_company
    <set>
      <if test="companyCode != null">
       	company_code = #{companyCode,jdbcType=VARCHAR},
      </if>
      <if test="clientUserCode != null">
        client_user_code = #{clientUserCode,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null">
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="creditCode != null">
        credit_code = #{creditCode,jdbcType=VARCHAR},
      </if>
      <if test="companyTel != null">
        company_tel = #{companyTel,jdbcType=VARCHAR},
      </if>
      <if test="tradingCertificateFirstFileName != null">
        trading_certificate_first_file_name = #{tradingCertificateFirstFileName,jdbcType=VARCHAR},
      </if>
      <if test="tradingCertificateFirstFileUrl != null">
        trading_certificate_first_file_url = #{tradingCertificateFirstFileUrl,jdbcType=VARCHAR},
      </if>
      <if test="tradingCertificateSecondFileName != null">
        trading_certificate_second_file_name = #{tradingCertificateSecondFileName,jdbcType=VARCHAR},
      </if>
      <if test="tradingCertificateSecondFileUrl != null">
        trading_certificate_second_file_url = #{tradingCertificateSecondFileUrl,jdbcType=VARCHAR},
      </if>
      <if test="tradingCertificateThirdFileName != null">
        trading_certificate_third_file_name = #{tradingCertificateThirdFileName,jdbcType=VARCHAR},
      </if>
      <if test="tradingCertificateThirdFileUrl != null">
        trading_certificate_third_file_url = #{tradingCertificateThirdFileUrl,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="lastModifyTime != null">
        last_modify_time = #{lastModifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.azz.platform.client.pojo.ClientUserCompany">
    update client_user_company
    set company_code = #{companyCode,jdbcType=VARCHAR},
    	client_user_code = #{clientUserCode,jdbcType=VARCHAR},
      company_name = #{companyName,jdbcType=VARCHAR},
      credit_code = #{creditCode,jdbcType=VARCHAR},
      company_tel = #{companyTel,jdbcType=VARCHAR},
      trading_certificate_first_file_name = #{tradingCertificateFirstFileName,jdbcType=VARCHAR},
      trading_certificate_first_file_url = #{tradingCertificateFirstFileUrl,jdbcType=VARCHAR},
      trading_certificate_second_file_name = #{tradingCertificateSecondFileName,jdbcType=VARCHAR},
      trading_certificate_second_file_url = #{tradingCertificateSecondFileUrl,jdbcType=VARCHAR},
      trading_certificate_third_file_name = #{tradingCertificateThirdFileName,jdbcType=VARCHAR},
      trading_certificate_third_file_url = #{tradingCertificateThirdFileUrl,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      creator = #{creator,jdbcType=VARCHAR},
      last_modify_time = #{lastModifyTime,jdbcType=TIMESTAMP},
      modifier = #{modifier,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>