<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.azz.platform.client.mapper.ClientUserMapper">
  <resultMap id="BaseResultMap" type="com.azz.platform.client.pojo.ClientUser">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="client_user_code" jdbcType="VARCHAR" property="clientUserCode" />
    <result column="client_user_name" jdbcType="VARCHAR" property="clientUserName" />
    <result column="client_dept_id" jdbcType="BIGINT" property="clientDeptId" />
    <result column="post_name" jdbcType="VARCHAR" property="postName" />
    <result column="phone_number" jdbcType="VARCHAR" property="phoneNumber" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="salt" jdbcType="VARCHAR" property="salt" />
    <result column="client_type" jdbcType="INTEGER" property="clientType" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="client_avatar_url" jdbcType="VARCHAR" property="clientAvatarUrl" />
    <result column="login_errors_times" jdbcType="INTEGER" property="loginErrorsTimes" />
    <result column="login_ip" jdbcType="VARCHAR" property="loginIp" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="last_modify_time" jdbcType="TIMESTAMP" property="lastModifyTime" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
  </resultMap>
  <sql id="Base_Column_List">
    id, client_user_code, client_user_name, client_dept_id, post_name, phone_number, 
    password, salt, client_type, email, status, remark, client_avatar_url, login_errors_times, 
    login_ip, creator, create_time, last_modify_time, modifier
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from client_user
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from client_user
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.azz.platform.client.pojo.ClientUser">
    insert into client_user (id, client_user_code, client_user_name, 
      client_dept_id, post_name, phone_number, 
      password, salt, client_type, 
      email, status, remark, 
      client_avatar_url, login_errors_times, login_ip, 
      creator, create_time, last_modify_time, 
      modifier)
    values (#{id,jdbcType=BIGINT}, #{clientUserCode,jdbcType=VARCHAR}, #{clientUserName,jdbcType=VARCHAR}, 
      #{clientDeptId,jdbcType=BIGINT}, #{postName,jdbcType=VARCHAR}, #{phoneNumber,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, #{salt,jdbcType=VARCHAR}, #{clientType,jdbcType=INTEGER}, 
      #{email,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, 
      #{clientAvatarUrl,jdbcType=VARCHAR}, #{loginErrorsTimes,jdbcType=INTEGER}, #{loginIp,jdbcType=VARCHAR}, 
      #{creator,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{lastModifyTime,jdbcType=TIMESTAMP}, 
      #{modifier,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.azz.platform.client.pojo.ClientUser">
    insert into client_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="clientUserCode != null">
        client_user_code,
      </if>
      <if test="clientUserName != null">
        client_user_name,
      </if>
      <if test="clientDeptId != null">
        client_dept_id,
      </if>
      <if test="postName != null">
        post_name,
      </if>
      <if test="phoneNumber != null">
        phone_number,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="salt != null">
        salt,
      </if>
      <if test="clientType != null">
        client_type,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="clientAvatarUrl != null">
        client_avatar_url,
      </if>
      <if test="loginErrorsTimes != null">
        login_errors_times,
      </if>
      <if test="loginIp != null">
        login_ip,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="lastModifyTime != null">
        last_modify_time,
      </if>
      <if test="modifier != null">
        modifier,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="clientUserCode != null">
        #{clientUserCode,jdbcType=VARCHAR},
      </if>
      <if test="clientUserName != null">
        #{clientUserName,jdbcType=VARCHAR},
      </if>
      <if test="clientDeptId != null">
        #{clientDeptId,jdbcType=BIGINT},
      </if>
      <if test="postName != null">
        #{postName,jdbcType=VARCHAR},
      </if>
      <if test="phoneNumber != null">
        #{phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="salt != null">
        #{salt,jdbcType=VARCHAR},
      </if>
      <if test="clientType != null">
        #{clientType,jdbcType=INTEGER},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="clientAvatarUrl != null">
        #{clientAvatarUrl,jdbcType=VARCHAR},
      </if>
      <if test="loginErrorsTimes != null">
        #{loginErrorsTimes,jdbcType=INTEGER},
      </if>
      <if test="loginIp != null">
        #{loginIp,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifyTime != null">
        #{lastModifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.azz.platform.client.pojo.ClientUser">
    update client_user
    <set>
      <if test="clientUserCode != null">
        client_user_code = #{clientUserCode,jdbcType=VARCHAR},
      </if>
      <if test="clientUserName != null">
        client_user_name = #{clientUserName,jdbcType=VARCHAR},
      </if>
      <if test="clientDeptId != null">
        client_dept_id = #{clientDeptId,jdbcType=BIGINT},
      </if>
      <if test="postName != null">
        post_name = #{postName,jdbcType=VARCHAR},
      </if>
      <if test="phoneNumber != null">
        phone_number = #{phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="salt != null">
        salt = #{salt,jdbcType=VARCHAR},
      </if>
      <if test="clientType != null">
        client_type = #{clientType,jdbcType=INTEGER},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="clientAvatarUrl != null">
        client_avatar_url = #{clientAvatarUrl,jdbcType=VARCHAR},
      </if>
      <if test="loginErrorsTimes != null">
        login_errors_times = #{loginErrorsTimes,jdbcType=INTEGER},
      </if>
      <if test="loginIp != null">
        login_ip = #{loginIp,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifyTime != null">
        last_modify_time = #{lastModifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.azz.platform.client.pojo.ClientUser">
    update client_user
    set client_user_code = #{clientUserCode,jdbcType=VARCHAR},
      client_user_name = #{clientUserName,jdbcType=VARCHAR},
      client_dept_id = #{clientDeptId,jdbcType=BIGINT},
      post_name = #{postName,jdbcType=VARCHAR},
      phone_number = #{phoneNumber,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      salt = #{salt,jdbcType=VARCHAR},
      client_type = #{clientType,jdbcType=INTEGER},
      email = #{email,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      client_avatar_url = #{clientAvatarUrl,jdbcType=VARCHAR},
      login_errors_times = #{loginErrorsTimes,jdbcType=INTEGER},
      login_ip = #{loginIp,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      last_modify_time = #{lastModifyTime,jdbcType=TIMESTAMP},
      modifier = #{modifier,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <!-- 平台客户管理 -->
  <select id="selectClientUserList" resultType="com.azz.platform.client.pojo.bo.SearchClientManagerParam" resultMap="BaseResultMap">
  	select client_user_code,phone_number,client_type,email,status,create_time
  	from client_user
  	<where>
  	1=1 and status != 0
  		<if test="param != null and param != ''">
  			client_user_code = #{param} or phone_number = #{param} or email = #{param}
  		</if>
  	</where> 
  ORDER BY create_time DESC
  </select>
  
  <!-- 平台客户状态更新 -->
  <update id="updateClientUserStatus">
  	update 
  		  client_user
  		<set>
  			<if test="status != null ">
  				status = #{status}
  			</if>
  		</set>
  		  <where>
  		  	<if test="code != null and code != ''">
  		  		client_user_code = #{code}
  		  	</if>
  		  </where>
  
  </update>
  <select id="selectDetailsByCompanyCode" parameterType="java.lang.String" resultType="com.azz.platform.client.pojo.vo.ClientInfo">
  	SELECT
  		cu.client_user_code as clientUserCode,
		cuc.company_code as companyCode,
		cu.`status` as status,
		cu.create_time as createTime,
		cuc.company_name as companyName,
		cuc.credit_code as creditCode,
		cuc.company_tel as companyTel,
		cuca.detail_address as address,
		cuc.trading_certificate_first_file_name as tradingCertificateFirstFileName,
		cuc.trading_certificate_first_file_url as tradingCertificateFirstFileUrl,
		cuc.trading_certificate_second_file_name as tradingCertificateSecondFileName,
		cuc.trading_certificate_second_file_url as tradingCertificateSecondFileUrl,
		cuc.trading_certificate_third_file_name as tradingCertificateThirdFileName,
		cuc.trading_certificate_third_file_url as tradingCertificateThirdFileUrl
	FROM
		client_user cu
	LEFT JOIN  client_user_company cuc ON cuc.client_user_code = cu.client_user_code
	LEFT JOIN client_user_company_address cuca ON cuca.client_user_company_id = cuc.id
	WHERE cuc.company_code = #{companyCode,jdbcType=VARCHAR}
  </select>
  
  <select id="checkClientApplyInfo" parameterType="java.lang.String">
  	SELECT count(1) FROM client_apply ca 
	JOIN client_user cu ON ca.client_user_id = cu.id
	WHERE ca.`status`=1 AND cu.client_user_code = #{clientUserCode,jdbcType=VARCHAR}
  </select>
  
  <select id="selectByClientUserCode" parameterType="java.lang.String" resultMap="BaseResultMap">
  	 select 
    <include refid="Base_Column_List" />
    from client_user
    where client_user_code = #{clientUserCode,jdbcType=VARCHAR}
  </select>
  
  <!-- 平台客户管理 账户详情 -->
  <select id="selectClientUserInfo" parameterType="java.lang.String" resultType="com.azz.platform.client.pojo.vo.ClientAccountInfo">
  		select 
  		a.client_user_name clientUserName,
  		a.client_avatar_url avatarUrl,
  		a.phone_number phoneNumber,
  		a.email email,
  		b.role_name companyPower,
  		c.company_name companyName,
  		a.client_user_name employeeName,
  		d.dept_name deptmentName
  		from 
  		   client_user a 
      left join client_user_company c on a.client_user_code = c.client_user_code
			left JOIN client_dept d on a.client_dept_id = d.id
			left join client_user_role  on a.id = client_user_role.client_user_id
			left join client_role b on b.id = client_user_role.role_id
	   where a.client_user_code = #{code}
  </select>
</mapper>