<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.dao.MerchantMapper">
  <resultMap id="BaseResultMap" type="com.test.pojo.Merchant">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="merchant_code" jdbcType="VARCHAR" property="merchantCode" />
    <result column="merchant_name" jdbcType="VARCHAR" property="merchantName" />
    <result column="legal_person_name" jdbcType="VARCHAR" property="legalPersonName" />
    <result column="legal_person_id_card" jdbcType="VARCHAR" property="legalPersonIdCard" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="credit_code" jdbcType="VARCHAR" property="creditCode" />
    <result column="company_tel" jdbcType="VARCHAR" property="companyTel" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="trading_certificate_first_file_name" jdbcType="VARCHAR" property="tradingCertificateFirstFileName" />
    <result column="trading_certificate_first_file_url" jdbcType="VARCHAR" property="tradingCertificateFirstFileUrl" />
    <result column="trading_certificate_second_file_name" jdbcType="VARCHAR" property="tradingCertificateSecondFileName" />
    <result column="trading_certificate_second_file_url" jdbcType="VARCHAR" property="tradingCertificateSecondFileUrl" />
    <result column="trading_certificate_third_file_name" jdbcType="VARCHAR" property="tradingCertificateThirdFileName" />
    <result column="trading_certificate_third_file_url" jdbcType="VARCHAR" property="tradingCertificateThirdFileUrl" />
    <result column="business_license_file_name" jdbcType="VARCHAR" property="businessLicenseFileName" />
    <result column="business_license_file_url" jdbcType="VARCHAR" property="businessLicenseFileUrl" />
    <result column="legal_person_id_card_file_name" jdbcType="VARCHAR" property="legalPersonIdCardFileName" />
    <result column="legal_person_id_card_file_url" jdbcType="VARCHAR" property="legalPersonIdCardFileUrl" />
    <result column="auditor" jdbcType="VARCHAR" property="auditor" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, merchant_code, merchant_name, legal_person_name, legal_person_id_card, company_name, 
    credit_code, company_tel, address, trading_certificate_first_file_name, trading_certificate_first_file_url, 
    trading_certificate_second_file_name, trading_certificate_second_file_url, trading_certificate_third_file_name, 
    trading_certificate_third_file_url, business_license_file_name, business_license_file_url, 
    legal_person_id_card_file_name, legal_person_id_card_file_url, auditor, remark, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from merchant
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from merchant
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.test.pojo.Merchant">
    insert into merchant (id, merchant_code, merchant_name, 
      legal_person_name, legal_person_id_card, company_name, 
      credit_code, company_tel, address, 
      trading_certificate_first_file_name, trading_certificate_first_file_url, 
      trading_certificate_second_file_name, trading_certificate_second_file_url, 
      trading_certificate_third_file_name, trading_certificate_third_file_url, 
      business_license_file_name, business_license_file_url, 
      legal_person_id_card_file_name, legal_person_id_card_file_url, 
      auditor, remark, create_time
      )
    values (#{id,jdbcType=BIGINT}, #{merchantCode,jdbcType=VARCHAR}, #{merchantName,jdbcType=VARCHAR}, 
      #{legalPersonName,jdbcType=VARCHAR}, #{legalPersonIdCard,jdbcType=VARCHAR}, #{companyName,jdbcType=VARCHAR}, 
      #{creditCode,jdbcType=VARCHAR}, #{companyTel,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{tradingCertificateFirstFileName,jdbcType=VARCHAR}, #{tradingCertificateFirstFileUrl,jdbcType=VARCHAR}, 
      #{tradingCertificateSecondFileName,jdbcType=VARCHAR}, #{tradingCertificateSecondFileUrl,jdbcType=VARCHAR}, 
      #{tradingCertificateThirdFileName,jdbcType=VARCHAR}, #{tradingCertificateThirdFileUrl,jdbcType=VARCHAR}, 
      #{businessLicenseFileName,jdbcType=VARCHAR}, #{businessLicenseFileUrl,jdbcType=VARCHAR}, 
      #{legalPersonIdCardFileName,jdbcType=VARCHAR}, #{legalPersonIdCardFileUrl,jdbcType=VARCHAR}, 
      #{auditor,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.test.pojo.Merchant">
    insert into merchant
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="merchantCode != null">
        merchant_code,
      </if>
      <if test="merchantName != null">
        merchant_name,
      </if>
      <if test="legalPersonName != null">
        legal_person_name,
      </if>
      <if test="legalPersonIdCard != null">
        legal_person_id_card,
      </if>
      <if test="companyName != null">
        company_name,
      </if>
      <if test="creditCode != null">
        credit_code,
      </if>
      <if test="companyTel != null">
        company_tel,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="tradingCertificateFirstFileName != null">
        trading_certificate_first_file_name,
      </if>
      <if test="tradingCertificateFirstFileUrl != null">
        trading_certificate_first_file_url,
      </if>
      <if test="tradingCertificateSecondFileName != null">
        trading_certificate_second_file_name,
      </if>
      <if test="tradingCertificateSecondFileUrl != null">
        trading_certificate_second_file_url,
      </if>
      <if test="tradingCertificateThirdFileName != null">
        trading_certificate_third_file_name,
      </if>
      <if test="tradingCertificateThirdFileUrl != null">
        trading_certificate_third_file_url,
      </if>
      <if test="businessLicenseFileName != null">
        business_license_file_name,
      </if>
      <if test="businessLicenseFileUrl != null">
        business_license_file_url,
      </if>
      <if test="legalPersonIdCardFileName != null">
        legal_person_id_card_file_name,
      </if>
      <if test="legalPersonIdCardFileUrl != null">
        legal_person_id_card_file_url,
      </if>
      <if test="auditor != null">
        auditor,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="merchantCode != null">
        #{merchantCode,jdbcType=VARCHAR},
      </if>
      <if test="merchantName != null">
        #{merchantName,jdbcType=VARCHAR},
      </if>
      <if test="legalPersonName != null">
        #{legalPersonName,jdbcType=VARCHAR},
      </if>
      <if test="legalPersonIdCard != null">
        #{legalPersonIdCard,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null">
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="creditCode != null">
        #{creditCode,jdbcType=VARCHAR},
      </if>
      <if test="companyTel != null">
        #{companyTel,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="tradingCertificateFirstFileName != null">
        #{tradingCertificateFirstFileName,jdbcType=VARCHAR},
      </if>
      <if test="tradingCertificateFirstFileUrl != null">
        #{tradingCertificateFirstFileUrl,jdbcType=VARCHAR},
      </if>
      <if test="tradingCertificateSecondFileName != null">
        #{tradingCertificateSecondFileName,jdbcType=VARCHAR},
      </if>
      <if test="tradingCertificateSecondFileUrl != null">
        #{tradingCertificateSecondFileUrl,jdbcType=VARCHAR},
      </if>
      <if test="tradingCertificateThirdFileName != null">
        #{tradingCertificateThirdFileName,jdbcType=VARCHAR},
      </if>
      <if test="tradingCertificateThirdFileUrl != null">
        #{tradingCertificateThirdFileUrl,jdbcType=VARCHAR},
      </if>
      <if test="businessLicenseFileName != null">
        #{businessLicenseFileName,jdbcType=VARCHAR},
      </if>
      <if test="businessLicenseFileUrl != null">
        #{businessLicenseFileUrl,jdbcType=VARCHAR},
      </if>
      <if test="legalPersonIdCardFileName != null">
        #{legalPersonIdCardFileName,jdbcType=VARCHAR},
      </if>
      <if test="legalPersonIdCardFileUrl != null">
        #{legalPersonIdCardFileUrl,jdbcType=VARCHAR},
      </if>
      <if test="auditor != null">
        #{auditor,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.test.pojo.Merchant">
    update merchant
    <set>
      <if test="merchantCode != null">
        merchant_code = #{merchantCode,jdbcType=VARCHAR},
      </if>
      <if test="merchantName != null">
        merchant_name = #{merchantName,jdbcType=VARCHAR},
      </if>
      <if test="legalPersonName != null">
        legal_person_name = #{legalPersonName,jdbcType=VARCHAR},
      </if>
      <if test="legalPersonIdCard != null">
        legal_person_id_card = #{legalPersonIdCard,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null">
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="creditCode != null">
        credit_code = #{creditCode,jdbcType=VARCHAR},
      </if>
      <if test="companyTel != null">
        company_tel = #{companyTel,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="tradingCertificateFirstFileName != null">
        trading_certificate_first_file_name = #{tradingCertificateFirstFileName,jdbcType=VARCHAR},
      </if>
      <if test="tradingCertificateFirstFileUrl != null">
        trading_certificate_first_file_url = #{tradingCertificateFirstFileUrl,jdbcType=VARCHAR},
      </if>
      <if test="tradingCertificateSecondFileName != null">
        trading_certificate_second_file_name = #{tradingCertificateSecondFileName,jdbcType=VARCHAR},
      </if>
      <if test="tradingCertificateSecondFileUrl != null">
        trading_certificate_second_file_url = #{tradingCertificateSecondFileUrl,jdbcType=VARCHAR},
      </if>
      <if test="tradingCertificateThirdFileName != null">
        trading_certificate_third_file_name = #{tradingCertificateThirdFileName,jdbcType=VARCHAR},
      </if>
      <if test="tradingCertificateThirdFileUrl != null">
        trading_certificate_third_file_url = #{tradingCertificateThirdFileUrl,jdbcType=VARCHAR},
      </if>
      <if test="businessLicenseFileName != null">
        business_license_file_name = #{businessLicenseFileName,jdbcType=VARCHAR},
      </if>
      <if test="businessLicenseFileUrl != null">
        business_license_file_url = #{businessLicenseFileUrl,jdbcType=VARCHAR},
      </if>
      <if test="legalPersonIdCardFileName != null">
        legal_person_id_card_file_name = #{legalPersonIdCardFileName,jdbcType=VARCHAR},
      </if>
      <if test="legalPersonIdCardFileUrl != null">
        legal_person_id_card_file_url = #{legalPersonIdCardFileUrl,jdbcType=VARCHAR},
      </if>
      <if test="auditor != null">
        auditor = #{auditor,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.test.pojo.Merchant">
    update merchant
    set merchant_code = #{merchantCode,jdbcType=VARCHAR},
      merchant_name = #{merchantName,jdbcType=VARCHAR},
      legal_person_name = #{legalPersonName,jdbcType=VARCHAR},
      legal_person_id_card = #{legalPersonIdCard,jdbcType=VARCHAR},
      company_name = #{companyName,jdbcType=VARCHAR},
      credit_code = #{creditCode,jdbcType=VARCHAR},
      company_tel = #{companyTel,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      trading_certificate_first_file_name = #{tradingCertificateFirstFileName,jdbcType=VARCHAR},
      trading_certificate_first_file_url = #{tradingCertificateFirstFileUrl,jdbcType=VARCHAR},
      trading_certificate_second_file_name = #{tradingCertificateSecondFileName,jdbcType=VARCHAR},
      trading_certificate_second_file_url = #{tradingCertificateSecondFileUrl,jdbcType=VARCHAR},
      trading_certificate_third_file_name = #{tradingCertificateThirdFileName,jdbcType=VARCHAR},
      trading_certificate_third_file_url = #{tradingCertificateThirdFileUrl,jdbcType=VARCHAR},
      business_license_file_name = #{businessLicenseFileName,jdbcType=VARCHAR},
      business_license_file_url = #{businessLicenseFileUrl,jdbcType=VARCHAR},
      legal_person_id_card_file_name = #{legalPersonIdCardFileName,jdbcType=VARCHAR},
      legal_person_id_card_file_url = #{legalPersonIdCardFileUrl,jdbcType=VARCHAR},
      auditor = #{auditor,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>