<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.azz.merchant.mapper.MerchantGoodsProductParamsMapper">
  <resultMap id="BaseResultMap" type="com.azz.merchant.pojo.MerchantGoodsProductParams">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="params_name" jdbcType="VARCHAR" property="paramsName" />
    <result column="params_id" jdbcType="BIGINT" property="paramsId" />
    <result column="params_value" jdbcType="VARCHAR" property="paramsValue" />
    <result column="product_id" jdbcType="BIGINT" property="productId" />
    <result column="params_type" jdbcType="TINYINT" property="paramsType" />
    <result column="params_choice" jdbcType="TINYINT" property="paramsChoice" />
  </resultMap>
  <sql id="Base_Column_List">
    id, params_name, params_id, params_value, product_id,params_type,params_choice
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from merchant_goods_product_params
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from merchant_goods_product_params
    where id = #{id,jdbcType=BIGINT}
  </delete>
  
  <delete id="deleteByProductId" parameterType="java.lang.Long">
    delete from merchant_goods_product_params
    where product_id = #{pid,jdbcType=BIGINT}
  </delete>
  
  <insert id="insert" parameterType="com.azz.merchant.pojo.MerchantGoodsProductParams">
    insert into merchant_goods_product_params (id, params_name, params_id, 
      params_value, product_id,params_type,params_choice)
    values (#{id,jdbcType=BIGINT}, #{paramsName,jdbcType=VARCHAR}, #{paramsId,jdbcType=BIGINT}, 
      #{paramsValue,jdbcType=VARCHAR}, #{productId,jdbcType=BIGINT},#{paramsType},#{paramsChoice})
  </insert>
  <insert id="insertSelective" parameterType="com.azz.merchant.pojo.MerchantGoodsProductParams">
    insert into merchant_goods_product_params
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="paramsName != null">
        params_name,
      </if>
      <if test="paramsId != null">
        params_id,
      </if>
      <if test="paramsValue != null">
        params_value,
      </if>
      <if test="productId != null">
        product_id,
      </if>
      <if test="paramsType != null">
        params_type,
      </if>
      <if test="paramsChoice != null">
        params_choice,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="paramsName != null">
        #{paramsName,jdbcType=VARCHAR},
      </if>
      <if test="paramsId != null">
        #{paramsId,jdbcType=BIGINT},
      </if>
      <if test="paramsValue != null">
        #{paramsValue,jdbcType=VARCHAR},
      </if>
      <if test="productId != null">
        #{productId,jdbcType=BIGINT},
      </if>
      <if test="paramsType != null">
        #{paramsType,jdbcType=TINYINT},
      </if>
      <if test="paramsChoice != null">
        #{paramsChoice,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.azz.merchant.pojo.MerchantGoodsProductParams">
    update merchant_goods_product_params
    <set>
      <if test="paramsName != null">
        params_name = #{paramsName,jdbcType=VARCHAR},
      </if>
      <if test="paramsId != null">
        params_id = #{paramsId,jdbcType=BIGINT},
      </if>
      <if test="paramsValue != null">
        params_value = #{paramsValue,jdbcType=VARCHAR},
      </if>
      <if test="productId != null">
        product_id = #{productId,jdbcType=BIGINT},
      </if>
      <if test="paramsType != null">
        params_type = #{paramsType,jdbcType=TINYINT},
      </if>
      <if test="paramsType != null">
        params_choice = #{paramsChoice,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.azz.merchant.pojo.MerchantGoodsProductParams">
    update merchant_goods_product_params
    set params_name = #{paramsName,jdbcType=VARCHAR},
      params_id = #{paramsId,jdbcType=BIGINT},
      params_value = #{paramsValue,jdbcType=VARCHAR},
      product_id = #{productId,jdbcType=BIGINT},
      params_type = #{paramsType,jdbcType=TINYINT},
      params_choice = #{paramsChoice,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <select id="selectParamsByProductId" resultMap="BaseResultMap">
  select <include refid="Base_Column_List"></include> from merchant_goods_product_params where product_id = #{id}
  </select>
</mapper>