<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.azz.merchant.mapper.MerchantDeptMapper">
  <resultMap id="BaseResultMap" type="com.azz.merchant.pojo.MerchantDept">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="merchant_id" jdbcType="BIGINT" property="merchantId" />
    <result column="dept_code" jdbcType="VARCHAR" property="deptCode" />
    <result column="parent_code" jdbcType="VARCHAR" property="parentCode" />
    <result column="dept_name" jdbcType="VARCHAR" property="deptName" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="last_modify_time" jdbcType="TIMESTAMP" property="lastModifyTime" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
  </resultMap>
  <sql id="Base_Column_List">
    id, merchant_id, dept_code, parent_code, dept_name, description, status, create_time, 
    creator, last_modify_time, modifier
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from merchant_dept
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from merchant_dept
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.azz.merchant.pojo.MerchantDept">
    insert into merchant_dept (id, merchant_id, dept_code, 
      parent_code, dept_name, description, 
      status, create_time, creator, 
      last_modify_time, modifier)
    values (#{id,jdbcType=BIGINT}, #{merchantId,jdbcType=BIGINT}, #{deptCode,jdbcType=VARCHAR}, 
      #{parentCode,jdbcType=VARCHAR}, #{deptName,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{creator,jdbcType=VARCHAR}, 
      #{lastModifyTime,jdbcType=TIMESTAMP}, #{modifier,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.azz.merchant.pojo.MerchantDept">
    insert into merchant_dept
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="merchantId != null">
        merchant_id,
      </if>
      <if test="deptCode != null">
        dept_code,
      </if>
      <if test="parentCode != null">
        parent_code,
      </if>
      <if test="deptName != null">
        dept_name,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="lastModifyTime != null">
        last_modify_time,
      </if>
      <if test="modifier != null">
        modifier,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="merchantId != null">
        #{merchantId,jdbcType=BIGINT},
      </if>
      <if test="deptCode != null">
        #{deptCode,jdbcType=VARCHAR},
      </if>
      <if test="parentCode != null">
        #{parentCode,jdbcType=VARCHAR},
      </if>
      <if test="deptName != null">
        #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="lastModifyTime != null">
        #{lastModifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.azz.merchant.pojo.MerchantDept">
    update merchant_dept
    <set>
      <if test="merchantId != null">
        merchant_id = #{merchantId,jdbcType=BIGINT},
      </if>
      <if test="deptCode != null">
        dept_code = #{deptCode,jdbcType=VARCHAR},
      </if>
      <if test="parentCode != null">
        parent_code = #{parentCode,jdbcType=VARCHAR},
      </if>
      <if test="deptName != null">
        dept_name = #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="lastModifyTime != null">
        last_modify_time = #{lastModifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.azz.merchant.pojo.MerchantDept">
    update merchant_dept
    set merchant_id = #{merchantId,jdbcType=BIGINT},
      dept_code = #{deptCode,jdbcType=VARCHAR},
      parent_code = #{parentCode,jdbcType=VARCHAR},
      dept_name = #{deptName,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      creator = #{creator,jdbcType=VARCHAR},
      last_modify_time = #{lastModifyTime,jdbcType=TIMESTAMP},
      modifier = #{modifier,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <select id="selectByMerchantIdAndName" parameterType="com.azz.merchant.pojo.bo.SearchMerchantDeptInfo" resultType="com.azz.merchant.pojo.vo.MerchantDeptInfo">
  	SELECT 
  		id as deptId,
  		merchant_id as merchantId,
  		dept_code as deptCode,
  		parent_code as parentCode,
  		dept_name as deptName,
  		status as status
  	FROM merchant_dept 
  	WHERE merchant_id = #{merchantId,jdbcType=BIGINT} 
  	AND dept_name = #{deptName,jdbcType=VARCHAR}
  	<if test="parentCode != null and parentCode'' "> 
			AND parent_code = #{parentCode,jdbcType=VARCHAR}
	</if> 
  	AND status != 0
  </select>
  
  <select id="selectFirstLevelExist" parameterType="com.azz.merchant.pojo.bo.SearchMerchantDeptInfo" resultType="int">
  	SELECT count(1) FROM 
  	merchant_dept WHERE parent_code = 0 and dept_name = #{deptName,jdbcType=VARCHAR} 
  	AND merchant_id = #{merchantId,jdbcType=BIGINT} AND status != 0
  </select>
  
  <select id="selectByDeptAllInfo" parameterType="com.azz.merchant.pojo.bo.SearchMerchantDeptInfo" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from merchant_dept
    where status != 0 
    AND dept_code = #{deptCode,jdbcType=VARCHAR} 
  	AND merchant_id = #{merchantId,jdbcType=BIGINT}
  </select>
  
  <select id="selectFirstDeptList" parameterType="com.azz.merchant.pojo.bo.SearchMerchantDeptListParam" resultType="com.azz.merchant.pojo.vo.MerchantDeptList">
		SELECT
			md.dept_name AS deptName,
			md.dept_code AS deptCode,
			md.parent_code AS parentCode,			
		 	md.`status` AS status,
			mu.merchant_user_name AS creator,
			md.create_time AS createTime
		FROM 
		merchant m 
		LEFT JOIN merchant_dept md ON md.merchant_id = m.id 
		LEFT JOIN merchant_user mu ON md.creator = mu.merchant_user_code 
		WHERE
			 m.merchant_code = #{merchantCode} AND md.parent_code = '0' AND md.status != 0  
		<if test="deptNameCode != null and deptNameCode!='' "> 
			AND (md.dept_name LIKE CONCAT('%',#{deptNameCode},'%') OR md.dept_code LIKE CONCAT('%',#{deptNameCode},'%'))
		</if>
		GROUP BY md.dept_code
		ORDER BY md.create_time DESC
  </select>
  
  <select id="selectChildDeptList" parameterType="com.azz.merchant.pojo.bo.SearchMerchantChildDeptParam" resultType="com.azz.merchant.pojo.vo.MerchantDeptList">
  		SELECT
			md.dept_name AS deptName,
			md.dept_code AS deptCode,
			md.parent_code AS parentCode,			
		 	md.`status` AS status,
			mu.merchant_user_name AS creator,
			md.create_time AS createTime
		FROM 
		merchant m 
		LEFT JOIN merchant_dept md ON md.merchant_id = m.id 
		LEFT JOIN merchant_user mu ON md.creator = mu.merchant_user_code 
		WHERE
			 m.merchant_code = #{merchantCode} AND md.parent_code = #{parentCode,jdbcType=VARCHAR} AND md.status != 0
		GROUP BY md.dept_code
		ORDER BY md.create_time DESC
  </select>
  
  <select id="selectByDeptCode" parameterType="com.azz.merchant.pojo.bo.SearchMerchantDeptInfoParam" resultMap="BaseResultMap">
	 SELECT
		d.id, d.merchant_id, d.dept_code, d.parent_code, d.dept_name, d.description, d.status,
		 d.create_time, u.merchant_user_name as creator, d.last_modify_time, d.modifier
	FROM
		merchant_dept d
	LEFT JOIN merchant m on m.id = d.merchant_id
	LEFT JOIN merchant_user u on u.merchant_code = m.merchant_code and d.creator = u.merchant_user_code
	WHERE
		d.dept_code = #{deptCode} and d.merchant_id = #{merchantId} and d.status != 0
 
  </select>
  
</mapper>