<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.azz.merchant.mapper.MerchantGoodsProductMapper">
  <resultMap id="BaseResultMap" type="com.azz.merchant.pojo.MerchantGoodsProduct">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="assortment_id" jdbcType="BIGINT" property="assortmentId" />
    <result column="product_code" jdbcType="VARCHAR" property="productCode" />
    <result column="product_system_code" jdbcType="VARCHAR" property="productSystemCode" />
    <result column="brand_id" jdbcType="BIGINT" property="brandId" />
    <result column="product_status" jdbcType="BIT" property="productStatus" />
    <result column="module_id" jdbcType="BIGINT" property="moduleId" />
    <result column="merchant_id" jdbcType="BIGINT" property="merchantId" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, assortment_id, product_code, product_system_code, brand_id, product_status, 
    module_id, creator, create_time, modifier, modify_time,merchant_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from merchant_goods_product
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from merchant_goods_product
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.azz.merchant.pojo.MerchantGoodsProduct">
    insert into merchant_goods_product (id, assortment_id, product_code, 
      product_system_code, brand_id, product_status, 
      module_id, creator, create_time, 
      modifier, modify_time,merchant_id)
    values (#{id,jdbcType=BIGINT}, #{assortmentId,jdbcType=BIGINT}, #{productCode,jdbcType=VARCHAR}, 
      #{productSystemCode,jdbcType=VARCHAR}, #{brandId,jdbcType=BIGINT}, #{productStatus,jdbcType=BIT}, 
      #{moduleId,jdbcType=BIGINT}, #{creator,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{modifier,jdbcType=VARCHAR}, #{modifyTime,jdbcType=TIMESTAMP},#{merchantId})
  </insert>
  <insert id="insertSelective" parameterType="com.azz.merchant.pojo.MerchantGoodsProduct" useGeneratedKeys="true" keyProperty="id">
    insert into merchant_goods_product
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="assortmentId != null">
        assortment_id,
      </if>
      <if test="productCode != null">
        product_code,
      </if>
      <if test="productSystemCode != null">
        product_system_code,
      </if>
      <if test="brandId != null">
        brand_id,
      </if>
      <if test="productStatus != null">
        product_status,
      </if>
      <if test="moduleId != null">
        module_id,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifier != null">
        modifier,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
      <if test="merchantId != null">
        merchant_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="assortmentId != null">
        #{assortmentId,jdbcType=BIGINT},
      </if>
      <if test="productCode != null">
        #{productCode,jdbcType=VARCHAR},
      </if>
      <if test="productSystemCode != null">
        #{productSystemCode,jdbcType=VARCHAR},
      </if>
      <if test="brandId != null">
        #{brandId,jdbcType=BIGINT},
      </if>
      <if test="productStatus != null">
        #{productStatus,jdbcType=BIT},
      </if>
      <if test="moduleId != null">
        #{moduleId,jdbcType=BIGINT},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="merchantId != null">
        #{merchantId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.azz.merchant.pojo.MerchantGoodsProduct">
    update merchant_goods_product
    <set>
      <if test="assortmentId != null">
        assortment_id = #{assortmentId,jdbcType=BIGINT},
      </if>
      <if test="productCode != null">
        product_code = #{productCode,jdbcType=VARCHAR},
      </if>
      <if test="productSystemCode != null">
        product_system_code = #{productSystemCode,jdbcType=VARCHAR},
      </if>
      <if test="brandId != null">
        brand_id = #{brandId,jdbcType=BIGINT},
      </if>
      <if test="productStatus != null">
        product_status = #{productStatus,jdbcType=BIT},
      </if>
      <if test="moduleId != null">
        module_id = #{moduleId,jdbcType=BIGINT},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="merchantId != null">
        merchant_id = #{merchantId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.azz.merchant.pojo.MerchantGoodsProduct">
    update merchant_goods_product
    set assortment_id = #{assortmentId,jdbcType=BIGINT},
      product_code = #{productCode,jdbcType=VARCHAR},
      product_system_code = #{productSystemCode,jdbcType=VARCHAR},
      brand_id = #{brandId,jdbcType=BIGINT},
      product_status = #{productStatus,jdbcType=BIT},
      module_id = #{moduleId,jdbcType=BIGINT},
      creator = #{creator,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modifier = #{modifier,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      merchant_id = #{merchantId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <!-- 根据系统CODE 查询产品 -->
  <select id="selectProductBySystemCode" resultMap="BaseResultMap" parameterType="string">
  select <include refid="Base_Column_List"></include> from merchant_goods_product where product_system_code = #{code}
  </select>
  
  <!-- 商户下产品列表 -->
  <select id="selectProductList" parameterType="com.azz.merchant.pojo.bo.MerchantProductParam" resultType="com.azz.merchant.pojo.vo.MerchantProductList">
  	select a.product_code productCode,a.product_system_code systemCode,b.module_name moduleName,c.deliveryDate,c.price,a.product_status status,a.creator creator,a.create_time createTime from merchant_goods_product a
	LEFT JOIN merchant_goods_module b on a.module_id = b.id
	LEFT JOIN (select min(delivery_date) as  deliveryDate,min(price) as price,product_id from merchant_goods_product_price GROUP BY product_id) c on c.product_id = a.id
  	<where>
  		<if test="param != null and param != ''">
  			(a.product_code = #{param} or b.module_name LIKE CONCAT('%',#{param},'%'))
  		</if>
  		<if test="status != null">
  			and a.product_status = #{status}
  		</if>
  		<if test="merchantId != null">
  			and a.merchant_id = #{merchantId}
  		</if>
  	</where>
  	order by a.create_time DESC
  </select>
  <!-- 根据分类ID查询 -->
  <select id="selectProductByAssortmentId" resultType="int" parameterType="long">
  	select count(1) from merchant_goods_product where assortment_id = #{id}
  </select>
  
  <update id="updateProductById">
  	update merchant_goods_product set product_status = #{status} where id = #{id}
  </update>
  
</mapper>