<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.azz.merchant.mapper.PlatformGoodsBrandMapper">
  <resultMap id="BaseResultMap" type="com.azz.merchant.pojo.PlatformGoodsBrand">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="brand_code" jdbcType="VARCHAR" property="brandCode" />
    <result column="brand_name" jdbcType="VARCHAR" property="brandName" />
    <result column="brand_english_name" jdbcType="VARCHAR" property="brandEnglishName" />
    <result column="brand_pic_url" jdbcType="VARCHAR" property="brandPicUrl" />
    <result column="brand_pic_name" jdbcType="VARCHAR" property="brandPicName" />
    <result column="brand_description" jdbcType="VARCHAR" property="brandDescription" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, brand_code, brand_name, brand_english_name, brand_pic_url, brand_pic_name, brand_description, status
    creator, create_time, modifier, modify_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from platform_goods_brand
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from platform_goods_brand
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.azz.merchant.pojo.PlatformGoodsBrand">
    insert into platform_goods_brand (id, brand_code, brand_name, 
      brand_english_name, brand_pic_url, brand_pic_name, 
      brand_description,status, creator, create_time, 
      modifier, modify_time)
    values (#{id,jdbcType=BIGINT}, #{brandCode,jdbcType=VARCHAR}, #{brandName,jdbcType=VARCHAR}, 
      #{brandEnglishName,jdbcType=VARCHAR}, #{brandPicUrl,jdbcType=VARCHAR}, #{brandPicName,jdbcType=VARCHAR}, 
      #{brandDescription,jdbcType=VARCHAR},#{status,jdbcType=INTEGER}, #{creator,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{modifier,jdbcType=VARCHAR}, #{modifyTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.azz.merchant.pojo.PlatformGoodsBrand">
    insert into platform_goods_brand
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="brandCode != null">
        brand_code,
      </if>
      <if test="brandName != null">
        brand_name,
      </if>
      <if test="brandEnglishName != null">
        brand_english_name,
      </if>
      <if test="brandPicUrl != null">
        brand_pic_url,
      </if>
      <if test="brandPicName != null">
        brand_pic_name,
      </if>
      <if test="brandDescription != null">
        brand_description,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifier != null">
        modifier,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="brandCode != null">
        #{brandCode,jdbcType=VARCHAR},
      </if>
      <if test="brandName != null">
        #{brandName,jdbcType=VARCHAR},
      </if>
      <if test="brandEnglishName != null">
        #{brandEnglishName,jdbcType=VARCHAR},
      </if>
      <if test="brandPicUrl != null">
        #{brandPicUrl,jdbcType=VARCHAR},
      </if>
      <if test="brandPicName != null">
        #{brandPicName,jdbcType=VARCHAR},
      </if>
      <if test="brandDescription != null">
        #{brandDescription,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.azz.merchant.pojo.PlatformGoodsBrand">
    update platform_goods_brand
    <set>
      <if test="brandCode != null">
        brand_code = #{brandCode,jdbcType=VARCHAR},
      </if>
      <if test="brandName != null">
        brand_name = #{brandName,jdbcType=VARCHAR},
      </if>
      <if test="brandEnglishName != null">
        brand_english_name = #{brandEnglishName,jdbcType=VARCHAR},
      </if>
      <if test="brandPicUrl != null">
        brand_pic_url = #{brandPicUrl,jdbcType=VARCHAR},
      </if>
      <if test="brandPicName != null">
        brand_pic_name = #{brandPicName,jdbcType=VARCHAR},
      </if>
      <if test="brandDescription != null">
        brand_description = #{brandDescription,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.azz.merchant.pojo.PlatformGoodsBrand">
    update platform_goods_brand
    set brand_code = #{brandCode,jdbcType=VARCHAR},
      brand_name = #{brandName,jdbcType=VARCHAR},
      brand_english_name = #{brandEnglishName,jdbcType=VARCHAR},
      brand_pic_url = #{brandPicUrl,jdbcType=VARCHAR},
      brand_pic_name = #{brandPicName,jdbcType=VARCHAR},
      brand_description = #{brandDescription,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      creator = #{creator,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modifier = #{modifier,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <select id="getGoodsBrandInfoList" parameterType="com.azz.merchant.pojo.bo.SearchGoodsBrandParam" resultType="com.azz.merchant.pojo.vo.GoodsBrandInfo">
    SELECT
		pgb.brand_name AS brandName,
		pgb.brand_pic_url AS brandPicUrl,
		pgb.brand_code AS brandCode,
		pgb.brand_english_name AS brandEnglishName,
		pgb.brand_description AS brandDescription,
		pgb.create_time AS createTime
	FROM
		platform_goods_brand pgb
	<where> pgb.status != 0
		<if test="searchInput != null and searchInput != ''">
			AND (
				pgb.brand_code LIKE CONCAT('%', #{searchInput}, '%')
			OR pgb.brand_name LIKE CONCAT('%', #{searchInput}, '%') 
			)
		</if>
	</where>	
	ORDER BY
		pgb.create_time DESC
  </select>
  
</mapper>