<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.azz.merchant.mapper.PlatformGoodsClassificationMapper">
  <resultMap id="BaseResultMap" type="com.azz.merchant.pojo.PlatformGoodsClassification">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="assortment_code" jdbcType="VARCHAR" property="assortmentCode" />
    <result column="assortment_parent_code" jdbcType="VARCHAR" property="assortmentParentCode" />
    <result column="assortment_name" jdbcType="VARCHAR" property="assortmentName" />
    <result column="assortment_top" jdbcType="TINYINT" property="assortmentTop" />
    <result column="assortment_sort" jdbcType="INTEGER" property="assortmentSort" />
    <result column="assortment_pic_url" jdbcType="VARCHAR" property="assortmentPicUrl" />
    <result column="assortment_pic_name" jdbcType="VARCHAR" property="assortmentPicName" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    id,assortment_code, assortment_parent_code, assortment_name, assortment_top,
    assortment_sort, assortment_pic_url, assortment_pic_name, creator, create_time, modifier, 
    modify_time,status
  </sql>
 
  <select id="selectByAssortmentCode" parameterType="java.lang.String" resultMap="BaseResultMap">
  	select 
    	<include refid="Base_Column_List" />
    from platform_goods_classification
    where assortment_code = #{assortmentCode,jdbcType=VARCHAR}
  </select>
   
   <select id="selectAssortmentById" resultMap="BaseResultMap">
   select <include refid="Base_Column_List"></include>
   from platform_goods_classification where id = #{id} and status != 0
   </select>
   
</mapper>