<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.azz.merchant.mapper.PlatformGoodsParamsMapper">
  <resultMap id="BaseResultMap" type="com.azz.merchant.pojo.PlatformGoodsParams">
    <id column="id" jdbcType="BIGINT" property="id" />
     <id column="assortment_id" jdbcType="BIGINT" property="assortmentId" />
    <result column="params_code" jdbcType="VARCHAR" property="paramsCode" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="create_time"  property="createTime" />
  </resultMap>
  
  <resultMap id="BaseResultMapTerm" type="com.azz.merchant.pojo.PlatformGoodsParamsTerm">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="params_code" jdbcType="VARCHAR" property="paramsCode" />
    <result column="params_name" jdbcType="VARCHAR" property="paramsName" />
    <result column="params_id" jdbcType="BIGINT" property="paramsId" />
    <result column="params_type" jdbcType="BIT" property="paramsType" />
    <result column="params_choice" jdbcType="BIT" property="paramsChoice" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
  
  <sql id="Base_Column_List">
    id, params_code,assortment_id,creator,create_time
  </sql>
  
  <sql id="Base_Column_Term_List">
    id, params_code, params_name, params_id, params_type, params_choice, creator, create_time, 
    modifier, modify_time
  </sql>
  
 	<select id="selectParamsByAssortmentId" resultMap="BaseResultMap" parameterType="long">
 		select <include refid="Base_Column_List"></include>
 		from platform_goods_params
 		where assortment_id = #{assortmentId}
 	</select>
 	
 	<insert id="insertSelective" parameterType="com.azz.platform.merchant.pojo.PlatformGoodsParams" useGeneratedKeys="true" keyProperty="id">
    insert into platform_goods_params
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="paramsCode != null">
        params_code,
      </if>
       <if test="assortmentId != null">
        assortment_id,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="paramsCode != null">
        #{paramsCode,jdbcType=VARCHAR},
      </if>
      <if test="assortmentId != null">
        #{assortmentId,jdbcType=BIGINT},
      </if>
       <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
       <if test="createTime != null">
        #{createTime}
      </if>
    </trim>
  </insert>
  
  <insert id="insertTermSelective" parameterType="com.azz.platform.merchant.pojo.PlatformGoodsParamsTerm" useGeneratedKeys="true" keyProperty="id">
    insert into platform_goods_params_term
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="paramsCode != null">
        params_code,
      </if>
      <if test="paramsName != null">
        params_name,
      </if>
      <if test="paramsId != null">
        params_id,
      </if>
      <if test="paramsType != null">
        params_type,
      </if>
      <if test="paramsChoice != null">
        params_choice,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifier != null">
        modifier,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="paramsCode != null">
        #{paramsCode,jdbcType=VARCHAR},
      </if>
      <if test="paramsName != null">
        #{paramsName,jdbcType=VARCHAR},
      </if>
      <if test="paramsId != null">
        #{paramsId,jdbcType=BIGINT},
      </if>
      <if test="paramsType != null">
        #{paramsType,jdbcType=BIT},
      </if>
      <if test="paramsChoice != null">
        #{paramsChoice,jdbcType=BIT},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  
  <insert id="insertTermValueSelective" parameterType="com.azz.platform.merchant.pojo.PlatformGoodsParamsValue">
    insert into platform_goods_params_value
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="paramsParentId != null">
        params_parent_id,
      </if>
      <if test="paramsValue != null">
        params_value,
      </if>
      <if test="paramsUnit != null">
        params_unit,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="paramsParentId != null">
        #{paramsParentId,jdbcType=BIGINT},
      </if>
      <if test="paramsValue != null">
        #{paramsValue,jdbcType=VARCHAR},
      </if>
      <if test="paramsUnit != null">
        #{paramsUnit,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <select id="countParamsValue" resultType="int">
  	SELECT
		count(0)
	FROM
		platform_goods_params_value pv
	join platform_goods_params_term pt on pt.id = pv.params_parent_id
	WHERE
		pv.params_value = #{paramsValue}
	and pt.params_code = #{paramsCode}
  </select>
  
  <select id="selectParamTermId" resultType="long">
  	SELECT
		pt.id
	FROM
		platform_goods_params_term pt
	WHERE pt.params_code = #{paramsCode}
  </select>
  
  
  <select id="selectParamTerm" parameterType="java.lang.String" resultMap="BaseResultMapTerm">
  	SELECT
		<include refid="Base_Column_Term_List"></include>
	FROM
		platform_goods_params_term pt
	WHERE pt.params_code = #{paramsCode}
  </select>
</mapper>