<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.azz.client.mapper.PlatformIndexArticleMapper">
  <resultMap id="BaseResultMap" type="com.azz.client.pojo.PlatformIndexArticle">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="index_column_id" jdbcType="BIGINT" property="indexColumnId" />
    <result column="article_title" jdbcType="VARCHAR" property="articleTitle" />
    <result column="article_pic_name" jdbcType="VARCHAR" property="articlePicName" />
    <result column="article_pic_url" jdbcType="VARCHAR" property="articlePicUrl" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="last_modify_time" jdbcType="TIMESTAMP" property="lastModifyTime" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="remark1" jdbcType="VARCHAR" property="remark1" />
    <result column="remark2" jdbcType="VARCHAR" property="remark2" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.azz.client.pojo.PlatformIndexArticle">
    <result column="article_content" jdbcType="LONGVARCHAR" property="articleContent" />
  </resultMap>
  <sql id="Base_Column_List">
    id, index_column_id, article_title, article_pic_name, article_pic_url, price, creator, 
    create_time, last_modify_time, modifier, remark1, remark2
  </sql>
  <sql id="Blob_Column_List">
    article_content
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from platform_index_article
    where id = #{id,jdbcType=BIGINT}
  </select>
  
  <select id="getArticleDetail" parameterType="java.lang.Long" resultType="com.azz.client.pojo.vo.ArticleDetail">
  	SELECT
		pia.id as articleId,
		pia.article_content as articleContent,
		pia.article_title as articleTitle,
		pia.article_pic_url as articlePicUrl,
		pia.price as price
	FROM
		platform_index_article pia
	WHERE
		pia.id = #{id,jdbcType=BIGINT}
  </select>
</mapper>