<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.azz.client.mapper.PlatformIndexImageMapper">
  <resultMap id="BaseResultMap" type="com.azz.client.pojo.PlatformIndexImage">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="index_column_id" jdbcType="BIGINT" property="indexColumnId" />
    <result column="pic_name" jdbcType="VARCHAR" property="picName" />
    <result column="pic_url" jdbcType="VARCHAR" property="picUrl" />
    <result column="jump_link" jdbcType="VARCHAR" property="jumpLink" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="last_modify_time" jdbcType="TIMESTAMP" property="lastModifyTime" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    id, index_column_id, pic_name, pic_url, jump_link, create_time, creator, last_modify_time, 
    modifier, remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from platform_index_image
    where id = #{id,jdbcType=BIGINT}
  </select>
</mapper>