<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.azz.platform.goods.mapper.DemoMapper">
	<resultMap id="BaseResultMap" type="com.azz.platform.goods.pojo.Demo">
		<result column="id" property="id" />
		<result column="name" property="name" />
	</resultMap>
	
	<select id="getName" resultMap="BaseResultMap">
		select * from demo
	</select>
	
	<select id="getDemoInfosByIds" resultType="com.azz.platform.goods.pojo.vo.DemoInfo" parameterType="com.azz.platform.goods.pojo.bo.DemoSearchParam">
		select * from demo
		<where>
			id in 
			<foreach collection="list" item="id" open="(" separator="," close=")">
				#{id}
			</foreach>
		</where>
	</select>
</mapper>