<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.azz.system.mapper.SystemMsgLogMapper">
  <resultMap id="BaseResultMap" type="com.azz.system.pojo.SystemMsgLog">
    <id column="id" property="id" jdbcType="BIGINT" /> 
  <result column="msg_title" property="msgTitle" jdbcType="VARCHAR" /> 
  <result column="msg_phone" property="msgPhone" jdbcType="BIGINT" /> 
  <result column="msg_time" property="msgTime" jdbcType="TIMESTAMP" /> 
  <result column="msg_status" property="msgStatus" jdbcType="INTEGER" /> 
  <result column="msg_platform" property="msgPlatform" jdbcType="VARCHAR" /> 
  <result column="msg_content" property="msgContent" jdbcType="LONGVARCHAR" /> 
  <result column="msg_type" property="msgType" jdbcType="INTEGER" /> 
  <result column="msg_code" property="msgCode" jdbcType="VARCHAR" /> 
</resultMap>
  
  <select id="findMsgLogByPhone" resultMap="BaseResultMap">
  	select 
  		id,msg_title,msg_phone,msg_time,msg_status,msg_platform,msg_content,msg_type ,msg_code
  	from 
  		system_msg_log where msg_phone=#{phone} and date_format(msg_time,'%Y-%m-%d') = #{date} order by msg_time
  </select> 
  
   <select id="findMsgLog" resultMap="BaseResultMap">
  	select 
  		id,msg_title,msg_phone,msg_time,msg_status,msg_platform,msg_content,msg_type ,msg_code
  	from 
  		system_msg_log where msg_phone=#{phone} and msg_status = 1 order by msg_time desc limit 1
  </select>
  
  <select id="findMsgLogByPhoneAndCode" resultMap="BaseResultMap">
  	select 
  		id,msg_title,msg_phone,msg_time,msg_status,msg_platform,msg_content,msg_type ,msg_code
  	from 
  		system_msg_log where msg_phone=#{phone} and msg_status = 1 and msg_code=#{code}
  </select>
  
  <update id="updaetSmsStatus">
  	update system_msg_log set msg_status = #{status} where id = #{id}
  </update>
  <insert id="insertSelective" parameterType="com.azz.system.pojo.SystemMsgLog" useGeneratedKeys="true" keyProperty="id">
    insert into system_msg_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="msgTitle != null">
        msg_title,
      </if>
      <if test="msgContent != null">
        msg_content,
      </if>
      <if test="msgPhone != null">
        msg_phone,
      </if>
      <if test="msgTime != null">
        msg_time,
      </if>
      <if test="msgStatus != null">
        msg_status,
      </if>
      <if test="msgPlatform != null">
        msg_platform,
      </if>
      <if test="msgType != null">
        msg_type,
      </if>
      <if test="msgCode != null">
        msg_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="msgTitle != null">
        #{msgTitle,jdbcType=VARCHAR},
      </if>
      <if test="msgContent != null">
        #{msgContent,jdbcType=VARCHAR},
      </if>
      <if test="msgPhone != null">
        #{msgPhone,jdbcType=BIGINT},
      </if>
      <if test="msgTime != null">
        #{msgTime,jdbcType=TIMESTAMP},
      </if>
      <if test="msgStatus != null">
        #{msgStatus,jdbcType=INTEGER},
      </if>
      <if test="msgPlatform != null">
        #{msgPlatform,jdbcType=VARCHAR},
      </if>
      <if test="msgType != null">
        #{msgType,jdbcType=INTEGER},
      </if>
      <if test="msgCode != null">
        #{msgCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>