<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.azz.platform.user.mapper.PlatformIndexArticleMapper">
  <resultMap id="BaseResultMap" type="com.azz.platform.user.pojo.PlatformIndexArticle">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="index_column_id" jdbcType="BIGINT" property="indexColumnId" />
    <result column="article_title" jdbcType="VARCHAR" property="articleTitle" />
    <result column="article_pic_name" jdbcType="VARCHAR" property="articlePicName" />
    <result column="article_pic_url" jdbcType="VARCHAR" property="articlePicUrl" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="last_modify_time" jdbcType="TIMESTAMP" property="lastModifyTime" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="remark1" jdbcType="VARCHAR" property="remark1" />
    <result column="remark2" jdbcType="VARCHAR" property="remark2" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.azz.platform.user.pojo.PlatformIndexArticle">
    <result column="article_content" jdbcType="LONGVARCHAR" property="articleContent" />
  </resultMap>
  <sql id="Base_Column_List">
    id, index_column_id, article_title, article_pic_name, article_pic_url, price, creator, 
    create_time, last_modify_time, modifier, remark1, remark2
  </sql>
  <sql id="Blob_Column_List">
    article_content
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from platform_index_article
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from platform_index_article
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.azz.platform.user.pojo.PlatformIndexArticle">
    insert into platform_index_article (id, index_column_id, article_title, 
      article_pic_name, article_pic_url, price, 
      creator, create_time, last_modify_time, 
      modifier, remark1, remark2, 
      article_content)
    values (#{id,jdbcType=BIGINT}, #{indexColumnId,jdbcType=BIGINT}, #{articleTitle,jdbcType=VARCHAR}, 
      #{articlePicName,jdbcType=VARCHAR}, #{articlePicUrl,jdbcType=VARCHAR}, #{price,jdbcType=DECIMAL}, 
      #{creator,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{lastModifyTime,jdbcType=TIMESTAMP}, 
      #{modifier,jdbcType=VARCHAR}, #{remark1,jdbcType=VARCHAR}, #{remark2,jdbcType=VARCHAR}, 
      #{articleContent,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.azz.platform.user.pojo.PlatformIndexArticle">
    insert into platform_index_article
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="indexColumnId != null">
        index_column_id,
      </if>
      <if test="articleTitle != null">
        article_title,
      </if>
      <if test="articlePicName != null">
        article_pic_name,
      </if>
      <if test="articlePicUrl != null">
        article_pic_url,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="lastModifyTime != null">
        last_modify_time,
      </if>
      <if test="modifier != null">
        modifier,
      </if>
      <if test="remark1 != null">
        remark1,
      </if>
      <if test="remark2 != null">
        remark2,
      </if>
      <if test="articleContent != null">
        article_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="indexColumnId != null">
        #{indexColumnId,jdbcType=BIGINT},
      </if>
      <if test="articleTitle != null">
        #{articleTitle,jdbcType=VARCHAR},
      </if>
      <if test="articlePicName != null">
        #{articlePicName,jdbcType=VARCHAR},
      </if>
      <if test="articlePicUrl != null">
        #{articlePicUrl,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifyTime != null">
        #{lastModifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="remark1 != null">
        #{remark1,jdbcType=VARCHAR},
      </if>
      <if test="remark2 != null">
        #{remark2,jdbcType=VARCHAR},
      </if>
      <if test="articleContent != null">
        #{articleContent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.azz.platform.user.pojo.PlatformIndexArticle">
    update platform_index_article
    <set>
      <if test="indexColumnId != null">
        index_column_id = #{indexColumnId,jdbcType=BIGINT},
      </if>
      <if test="articleTitle != null">
        article_title = #{articleTitle,jdbcType=VARCHAR},
      </if>
      <if test="articlePicName != null">
        article_pic_name = #{articlePicName,jdbcType=VARCHAR},
      </if>
      <if test="articlePicUrl != null">
        article_pic_url = #{articlePicUrl,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifyTime != null">
        last_modify_time = #{lastModifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="remark1 != null">
        remark1 = #{remark1,jdbcType=VARCHAR},
      </if>
      <if test="remark2 != null">
        remark2 = #{remark2,jdbcType=VARCHAR},
      </if>
      <if test="articleContent != null">
        article_content = #{articleContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.azz.platform.user.pojo.PlatformIndexArticle">
    update platform_index_article
    set index_column_id = #{indexColumnId,jdbcType=BIGINT},
      article_title = #{articleTitle,jdbcType=VARCHAR},
      article_pic_name = #{articlePicName,jdbcType=VARCHAR},
      article_pic_url = #{articlePicUrl,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      creator = #{creator,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      last_modify_time = #{lastModifyTime,jdbcType=TIMESTAMP},
      modifier = #{modifier,jdbcType=VARCHAR},
      remark1 = #{remark1,jdbcType=VARCHAR},
      remark2 = #{remark2,jdbcType=VARCHAR},
      article_content = #{articleContent,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.azz.platform.user.pojo.PlatformIndexArticle">
    update platform_index_article
    set index_column_id = #{indexColumnId,jdbcType=BIGINT},
      article_title = #{articleTitle,jdbcType=VARCHAR},
      article_pic_name = #{articlePicName,jdbcType=VARCHAR},
      article_pic_url = #{articlePicUrl,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      creator = #{creator,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      last_modify_time = #{lastModifyTime,jdbcType=TIMESTAMP},
      modifier = #{modifier,jdbcType=VARCHAR},
      remark1 = #{remark1,jdbcType=VARCHAR},
      remark2 = #{remark2,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <select id="getIndexArticleByColumnId" parameterType="java.lang.Long" resultType="int">
  	SELECT COUNT(1) FROM platform_index_article WHERE index_column_id = #{indexColumnId}
  </select>
</mapper>