<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.azz.order.client.mapper.ClientPayMapper">
  <resultMap id="BaseResultMap" type="com.azz.order.client.pojo.ClientPay">
    <id column="id" property="id" jdbcType="BIGINT" /> 
  <result column="pay_number" property="payNumber"/> 
  <result column="three_party_number" property="threePartyNumber"/> 
  <result column="order_number" property="orderNumber"/> 
  <result column="pay_status" property="payStatus"/> 
  <result column="pay_institution" property="payInstitution"/> 
  <result column="pay_money" property="payMoney"/> 
  <result column="channel_money" property="channelMoney"/> 
  <result column="customer_phone" property="customerPhone"/> 
  <result column="pay_time" property="payTime" /> 
  <result column="pay_method" property="payMethod"/> 
</resultMap>
  
  <select id="selectPayList" resultMap="BaseResultMap" parameterType="com.azz.order.client.pojo.bo.PayList">
  	select id,pay_number,three_party_number,order_number,pay_status,pay_institution,pay_money,
  	channel_money,customer_phone,pay_time,pay_method
  	from platform_pay
  	<where>
  		<if test="param != null and param != ''">
  			pay_number like CONCAT('%', #{param}, '%')
  			or
  			three_party_number like CONCAT('%', #{param}, '%')
  			or
  			order_number like CONCAT('%', #{param}, '%')
  		</if>
  	</where>
  	order by pay_time desc
  </select>
  
  <insert id="insertPay" parameterType="com.azz.order.client.pojo.ClientPay">
    insert into platform_pay
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="payNumber != null">
        pay_number,
      </if>
      <if test="threePartyNumber != null">
        three_party_number,
      </if>
      <if test="orderNumber != null">
        order_number,
      </if>
      <if test="payStatus != null">
        pay_status,
      </if>
      <if test="payInstitution != null">
        pay_institution,
      </if>
      <if test="payMoney != null">
        pay_money,
      </if>
      <if test="channelMoney != null">
        channel_money,
      </if>
      <if test="customerPhone != null">
        customer_phone,
      </if>
      <if test="payTime != null">
        pay_time,
      </if>
       <if test="payMethod != null">
        pay_method,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id},
      </if>
      <if test="payNumber != null">
        #{payNumber},
      </if>
      <if test="threePartyNumber != null">
        #{threePartyNumber},
      </if>
      <if test="orderNumber != null">
        #{orderNumber},
      </if>
      <if test="payStatus != null">
        #{payStatus},
      </if>
      <if test="payInstitution != null">
        #{payInstitution},
      </if>
      <if test="payMoney != null">
        #{payMoney},
      </if>
      <if test="channelMoney != null">
        #{channelMoney},
      </if>
      <if test="customerPhone != null">
        #{customerPhone},
      </if>
      <if test="payTime != null">
        #{payTime},
      </if>
      <if test="payMethod != null">
        #{payMethod},
      </if>
    </trim>
  </insert>
</mapper>