<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.azz.order.client.mapper.ClientPersonRegInfoMapper">
  <resultMap id="BaseResultMap" type="com.azz.order.client.pojo.Personreginfoadd">
   <id column="id" jdbcType="BIGINT" property="id" />
    <result column="mer_short_name" jdbcType="VARCHAR" property="merShortName" />
    <result column="legal_name" jdbcType="VARCHAR" property="legalName" />
    <result column="legal_id_card" jdbcType="VARCHAR" property="legalIdCard" />
    <result column="mer_legal_phone" jdbcType="VARCHAR" property="merLegalPhone" />
    <result column="mer_legal_email" jdbcType="VARCHAR" property="merLegalEmail" />
    <result column="mer_level1_no" jdbcType="VARCHAR" property="merLevel1No" />
    <result column="mer_level2_no" jdbcType="VARCHAR" property="merLevel2No" />
    <result column="mer_province" jdbcType="VARCHAR" property="merProvince" />
    <result column="mer_city" jdbcType="VARCHAR" property="merCity" />
    <result column="mer_scope" jdbcType="VARCHAR" property="merScope" />
    <result column="mer_district" jdbcType="VARCHAR" property="merDistrict" />
    <result column="mer_address" jdbcType="VARCHAR" property="merAddress" />
    <result column="card_no" jdbcType="VARCHAR" property="cardNo" />
    <result column="head_bank_code" jdbcType="VARCHAR" property="headBankCode" />
    <result column="bank_code" jdbcType="VARCHAR" property="bankCode" />
    <result column="bank_province" jdbcType="VARCHAR" property="bankProvince" />
    <result column="bank_city" jdbcType="VARCHAR" property="bankCity" />
    <result column="product_info" jdbcType="VARCHAR" property="productInfo" />
    <result column="file_info" jdbcType="VARCHAR" property="fileInfo" />
    <result column="request_no" jdbcType="VARCHAR" property="requestNo" />
    <result column="parent_merchant_no" jdbcType="VARCHAR" property="parentMerchantNo" />
    <result column="mer_authorize_type" jdbcType="VARCHAR" property="merAuthorizeType" />
    <result column="business_function" jdbcType="VARCHAR" property="businessFunction" />
    <result column="status" jdbcType="VARCHAR" property="status" />
  </resultMap>
  
  <!-- 根据商户全称和开卡号 查询状态 -->
  <select id="selectStatusByCardNoAndParentMerchantNo" resultType="java.lang.String">
  	select status from client_enterprise_reg_info
  	where card_no = #{cn} and parent_merchant_no = #{mfn}
  </select>
  
  <insert id="insertSelective" parameterType="com.azz.order.client.pojo.Enterprisereginfoadd" useGeneratedKeys="true" keyProperty="id">
    insert into client_enterprise_reg_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="merShortName != null">
        mer_short_name,
      </if>
      <if test="legalName != null">
        legal_name,
      </if>
      <if test="legalIdCard != null">
        legal_id_card,
      </if>
      <if test="merLegalPhone != null">
        mer_legal_phone,
      </if>
      <if test="merLegalEmail != null">
        mer_legal_email,
      </if>
      <if test="merLevel1No != null">
        mer_level1_no,
      </if>
      <if test="merLevel2No != null">
        mer_level2_no,
      </if>
      <if test="merProvince != null">
        mer_province,
      </if>
      <if test="merCity != null">
        mer_city,
      </if>
      <if test="merScope != null">
        mer_scope,
      </if>
      <if test="merDistrict != null">
        mer_district,
      </if>
      <if test="merAddress != null">
        mer_address,
      </if>
       <if test="cardNo != null">
        card_no,
      </if>
       <if test="headBankCode != null">
        head_bank_code,
      </if>
       <if test="bankCode != null">
        bank_code,
      </if>
       <if test="bankProvince != null">
        bank_province,
      </if>
       <if test="bankCity != null">
        bank_city,
      </if>
       <if test="productInfo != null">
        product_info,
      </if>
      <if test="fileInfo != null">
        file_info,
      </if>
      <if test="requestNo != null">
        request_no,
      </if>
      <if test="parentMerchantNo != null">
        parent_merchant_no,
      </if>
      <if test="merAuthorizeType != null">
        mer_authorize_type,
      </if>
      <if test="businessFunction != null">
        business_function,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="merShortName != null">
        #{merShortName,jdbcType=VARCHAR},
      </if>
      <if test="legalName != null">
        #{legalName,jdbcType=VARCHAR},
      </if>
      <if test="legalIdCard != null">
        #{legalIdCard,jdbcType=VARCHAR},
      </if>
      <if test="merLegalPhone != null">
        #{merLegalPhone,jdbcType=VARCHAR},
      </if>
      <if test="merLegalEmail != null">
        #{merLegalEmail,jdbcType=VARCHAR},
      </if>
      <if test="merLevel1No != null">
        #{merLevel1No,jdbcType=VARCHAR},
      </if>
      <if test="merLevel2No != null">
        #{merLevel2No,jdbcType=VARCHAR},
      </if>
      <if test="merProvince != null">
        #{merProvince,jdbcType=VARCHAR},
      </if>
      <if test="merCity != null">
        #{merCity,jdbcType=VARCHAR},
      </if>
      <if test="merScope != null">
        #{merDistrict,jdbcType=VARCHAR},
      </if>
      <if test="merDistrict != null">
        #{merDistrict,jdbcType=VARCHAR},
      </if>
      <if test="merAddress != null">
        #{merAddress,jdbcType=VARCHAR},
      </if>
      <if test="cardNo != null">
        #{cardNo,jdbcType=VARCHAR},
      </if>
      <if test="headBankCode != null">
        #{headBankCode,jdbcType=VARCHAR},
      </if>
      <if test="bankCode != null">
        #{bankCode,jdbcType=VARCHAR},
      </if>
      <if test="bankProvince != null">
        #{bankProvince,jdbcType=VARCHAR},
      </if>
      <if test="bankCity != null">
        #{bankCity,jdbcType=VARCHAR},
      </if>
      <if test="productInfo != null">
        #{productInfo,jdbcType=VARCHAR},
      </if>
      <if test="fileInfo != null">
        #{fileInfo,jdbcType=VARCHAR},
      </if>
      <if test="requestNo != null">
        #{requestNo,jdbcType=VARCHAR},
      </if>
      <if test="parentMerchantNo != null">
        #{parentMerchantNo,jdbcType=VARCHAR},
      </if>
      <if test="merAuthorizeType != null">
        #{merAuthorizeType,jdbcType=VARCHAR},
      </if>
      <if test="businessFunction != null">
        #{businessFunction,jdbcType=VARCHAR},
      </if>
       <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>