<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.azz.selection.mapper.ClientShoppingCartMapper">
  <resultMap id="BaseResultMap" type="com.azz.order.selection.ClientShoppingCart">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="client_user_id" jdbcType="BIGINT" property="clientUserId" />
    <result column="selection_record_id" jdbcType="BIGINT" property="selectionRecordId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="last_modify_time" jdbcType="TIMESTAMP" property="lastModifyTime" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
  </resultMap>
  <sql id="Base_Column_List">
    id, client_user_id, selection_record_id, create_time, creator, last_modify_time, 
    modifier
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from client_shopping_cart
    where id = #{id,jdbcType=BIGINT}
  </select>
  
  <select id="selectBySelectionRecordIdAndClientUserId" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from client_shopping_cart
    where selection_record_id = #{selectionRecordId}
    and client_user_id = #{clientUserId}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from client_shopping_cart
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.azz.order.selection.ClientShoppingCart">
    insert into client_shopping_cart (id, client_user_id, selection_record_id, 
      create_time, creator, last_modify_time, 
      modifier)
    values (#{id,jdbcType=BIGINT}, #{clientUserId,jdbcType=BIGINT}, #{selectionRecordId,jdbcType=BIGINT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{creator,jdbcType=VARCHAR}, #{lastModifyTime,jdbcType=TIMESTAMP}, 
      #{modifier,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.azz.order.selection.ClientShoppingCart">
    insert into client_shopping_cart
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="clientUserId != null">
        client_user_id,
      </if>
      <if test="selectionRecordId != null">
        selection_record_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="lastModifyTime != null">
        last_modify_time,
      </if>
      <if test="modifier != null">
        modifier,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="clientUserId != null">
        #{clientUserId,jdbcType=BIGINT},
      </if>
      <if test="selectionRecordId != null">
        #{selectionRecordId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="lastModifyTime != null">
        #{lastModifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.azz.order.selection.ClientShoppingCart">
    update client_shopping_cart
    <set>
      <if test="clientUserId != null">
        client_user_id = #{clientUserId,jdbcType=BIGINT},
      </if>
      <if test="selectionRecordId != null">
        selection_record_id = #{selectionRecordId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="lastModifyTime != null">
        last_modify_time = #{lastModifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.azz.order.selection.ClientShoppingCart">
    update client_shopping_cart
    set client_user_id = #{clientUserId,jdbcType=BIGINT},
      selection_record_id = #{selectionRecordId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      creator = #{creator,jdbcType=VARCHAR},
      last_modify_time = #{lastModifyTime,jdbcType=TIMESTAMP},
      modifier = #{modifier,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <select id="getShoppingCartProductInfos" parameterType="string"  resultType="com.azz.order.selection.vo.ShoppingCartProductInfo">
	  SELECT
	  		csc.id as shoppingCartId,
			csc.selection_record_id AS selectionRecordId,
			csr.product_code AS productCode,
			csr.price AS price,
			mgp.product_status AS productStatus,
			csr.delivery_date AS deliveryDate,
			csr.module_name AS moduleName
		FROM
			client_shopping_cart csc
		JOIN client_selection_record csr ON csr.id = csc.selection_record_id
		JOIN client_user cu ON cu.id = csc.client_user_id
		LEFT JOIN merchant_goods_product mgp ON mgp.product_code = csr.product_code
		WHERE
			cu.client_user_code = #{clientUserCode}
  </select>
  
  <select id="countPutOffProducts" parameterType="string"  resultType="int">
	  SELECT
			count(1)
		FROM
			client_shopping_cart csc
		JOIN client_selection_record csr ON csr.id = csc.selection_record_id
		LEFT JOIN merchant_goods_product mgp ON mgp.product_code = csr.product_code
		JOIN client_user cu ON cu.id = csc.client_user_id
		WHERE
			csr. STATUS != 0
		and mgp.product_status = 2
		AND cu.client_user_code = #{clientUserCode}
  </select>
  
  <select id="getShoppingCartOrderItems" resultType="com.azz.order.selection.vo.ShoppingCartItemInfo">
	  SELECT
		csr.product_code AS productCode,
		csr.params_value AS paramsValue,
		pgc.assortment_name AS assortmentName,
		pgb.brand_name AS brandName,
		mgpp.delivery_date AS deliveryDate,
		mgm.module_name AS moduleName,
		mgm.module_pic_url AS modulePicUrl,
		mgpp.price AS productPrice
	FROM
		client_shopping_cart csc
	JOIN client_selection_record csr ON csr.id = csc.selection_record_id
	LEFT JOIN merchant_goods_product mgp ON mgp.product_code = csr.product_code
	LEFT JOIN merchant_goods_product_price mgpp ON csr.product_price_id = mgpp.id 
	LEFT JOIN platform_goods_brand pgb ON pgb.id = mgp.brand_id
	LEFT JOIN platform_goods_classification pgc ON pgc.id = mgp.assortment_id
	LEFT JOIN merchant_goods_module mgm ON mgm.id = mgp.module_id
	LEFT JOIN client_user cu ON cu.id = csc.client_user_id
	WHERE
		csr. STATUS != 0
	AND mgp.product_status != 2
	AND cu.client_user_code = #{clientUserCode}
	AND csr.product_code in
	<foreach collection="orderItems" item="orderItem" open="(" close=")" separator=",">
		#{orderItem.productCode}
	</foreach>
  </select>
  
  <delete id="deleteShoppingCartByClientUserId" parameterType="java.lang.Long">
  	delete from client_shopping_cart
    where client_user_id = #{clientUserId,jdbcType=BIGINT}
  </delete>
  
</mapper>