<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.azz.order.client.mapper.ClientInvoiceTemplateMapper">
  <resultMap id="BaseResultMap" type="com.azz.order.client.pojo.ClientInvoiceTemplate">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="client_user_id" jdbcType="BIGINT" property="clientUserId" />
    <result column="invoice_type" jdbcType="INTEGER" property="invoiceType" />
    <result column="invoice_title" jdbcType="VARCHAR" property="invoiceTitle" />
    <result column="tax_identification_number" jdbcType="VARCHAR" property="taxIdentificationNumber" />
    <result column="credit_code" jdbcType="VARCHAR" property="creditCode" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="bank" jdbcType="VARCHAR" property="bank" />
    <result column="bank_account" jdbcType="VARCHAR" property="bankAccount" />
    <result column="reg_address" jdbcType="VARCHAR" property="regAddress" />
    <result column="reg_telephone" jdbcType="VARCHAR" property="regTelephone" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    id, client_user_id, invoice_type, invoice_title, tax_identification_number,credit_code, company_name, 
    bank, bank_account, reg_address, reg_telephone, status, creator, create_time, modifier, 
    modify_time, remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from client_invoice_template
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from client_invoice_template
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.azz.order.client.pojo.ClientInvoiceTemplate">
    insert into client_invoice_template (id, client_user_id, invoice_type, 
      invoice_title, tax_identification_number, credit_code,
      company_name, bank, bank_account, 
      reg_address, reg_telephone, status, 
      creator, create_time, modifier, 
      modify_time, remark)
    values (#{id,jdbcType=BIGINT}, #{clientUserId,jdbcType=BIGINT}, #{invoiceType,jdbcType=INTEGER}, 
      #{invoiceTitle,jdbcType=VARCHAR}, #{taxIdentificationNumber,jdbcType=VARCHAR},#{credit_code,jdbcType=VARCHAR},
      #{companyName,jdbcType=VARCHAR}, #{bank,jdbcType=VARCHAR}, #{bankAccount,jdbcType=VARCHAR}, 
      #{regAddress,jdbcType=VARCHAR}, #{regTelephone,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{creator,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{modifier,jdbcType=VARCHAR}, 
      #{modifyTime,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.azz.order.client.pojo.ClientInvoiceTemplate">
    insert into client_invoice_template
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="clientUserId != null">
        client_user_id,
      </if>
      <if test="invoiceType != null">
        invoice_type,
      </if>
      <if test="invoiceTitle != null">
        invoice_title,
      </if>
      <if test="taxIdentificationNumber != null">
        tax_identification_number,
      </if>
      <if test="creditCode != null">
      	credit_code
      </if>
      <if test="companyName != null">
        company_name,
      </if>
      <if test="bank != null">
        bank,
      </if>
      <if test="bankAccount != null">
        bank_account,
      </if>
      <if test="regAddress != null">
        reg_address,
      </if>
      <if test="regTelephone != null">
        reg_telephone,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifier != null">
        modifier,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="clientUserId != null">
        #{clientUserId,jdbcType=BIGINT},
      </if>
      <if test="invoiceType != null">
        #{invoiceType,jdbcType=INTEGER},
      </if>
      <if test="invoiceTitle != null">
        #{invoiceTitle,jdbcType=VARCHAR},
      </if>
      <if test="taxIdentificationNumber != null">
        #{taxIdentificationNumber,jdbcType=VARCHAR},
      </if>
      <if test="creditCode != null">
      	#{credit_code,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null">
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="bank != null">
        #{bank,jdbcType=VARCHAR},
      </if>
      <if test="bankAccount != null">
        #{bankAccount,jdbcType=VARCHAR},
      </if>
      <if test="regAddress != null">
        #{regAddress,jdbcType=VARCHAR},
      </if>
      <if test="regTelephone != null">
        #{regTelephone,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.azz.order.client.pojo.ClientInvoiceTemplate">
    update client_invoice_template
    <set>
      <if test="clientUserId != null">
        client_user_id = #{clientUserId,jdbcType=BIGINT},
      </if>
      <if test="invoiceType != null">
        invoice_type = #{invoiceType,jdbcType=INTEGER},
      </if>
      <if test="invoiceTitle != null">
        invoice_title = #{invoiceTitle,jdbcType=VARCHAR},
      </if>
      <if test="taxIdentificationNumber != null">
        tax_identification_number = #{taxIdentificationNumber,jdbcType=VARCHAR},
      </if>
      <if test="creditCode != null">
      	credit_code = #{creditCode,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null">
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="bank != null">
        bank = #{bank,jdbcType=VARCHAR},
      </if>
      <if test="bankAccount != null">
        bank_account = #{bankAccount,jdbcType=VARCHAR},
      </if>
      <if test="regAddress != null">
        reg_address = #{regAddress,jdbcType=VARCHAR},
      </if>
      <if test="regTelephone != null">
        reg_telephone = #{regTelephone,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.azz.order.client.pojo.ClientInvoiceTemplate">
    update client_invoice_template
    set client_user_id = #{clientUserId,jdbcType=BIGINT},
      invoice_type = #{invoiceType,jdbcType=INTEGER},
      invoice_title = #{invoiceTitle,jdbcType=VARCHAR},
      tax_identification_number = #{taxIdentificationNumber,jdbcType=VARCHAR},
      credit_code = #{creditCode,jdbcType=VARCHAR},
      company_name = #{companyName,jdbcType=VARCHAR},
      bank = #{bank,jdbcType=VARCHAR},
      bank_account = #{bankAccount,jdbcType=VARCHAR},
      reg_address = #{regAddress,jdbcType=VARCHAR},
      reg_telephone = #{regTelephone,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      creator = #{creator,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modifier = #{modifier,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <select id="getInvoiceTemplate" parameterType="com.azz.order.client.pojo.bo.SearchInvoiceTemplateParam" resultType="com.azz.order.client.pojo.vo.ClientInvoiceTemplateList">
  	SELECT
		cit.id as id,
		cit.invoice_title as title,
		cit.company_name as companyName,
		cit.tax_identification_number as number,
		cit.credit_code as creditCode,
		cit.bank as bank,
		cit.bank_account as bankAccount,
		cit.reg_address as regAddress,
		cit.reg_telephone as regTelephone,
		cit.create_time as createTime,
		cit.remark as remark
	FROM
		client_invoice_template cit
	JOIN client_user cu ON cit.client_user_id = cu.id
	WHERE cit.invoice_type = #{invoiceType} AND cu.client_user_code = #{clientUserCode}
	ORDER BY cit.create_time DESC
  </select>
</mapper>