<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.azz.finance.merchant.mapper.MerchantWithdrawDepositApplyMapper">
  <resultMap id="BaseResultMap" type="com.azz.order.finance.pojo.MerchantWithdrawDepositApply">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="apply_code" jdbcType="VARCHAR" property="applyCode" />
    <result column="merchant_code" jdbcType="VARCHAR" property="merchantCode" />
    <result column="withdraw_deposit_account" jdbcType="VARCHAR" property="withdrawDepositAccount" />
    <result column="total_order_count" jdbcType="INTEGER" property="totalOrderCount" />
    <result column="total_order_money" jdbcType="DECIMAL" property="totalOrderMoney" />
    <result column="total_withdraw_deposit_money" jdbcType="DECIMAL" property="totalWithdrawDepositMoney" />
    <result column="third_info_code" jdbcType="VARCHAR" property="thirdInfoCode" />
    <result column="third_info_status" jdbcType="VARCHAR" property="thirdInfoStatus" />
    <result column="third_info_withdraw_deposit_money" jdbcType="DECIMAL" property="thirdInfoWithdrawDepositMoney" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, apply_code, merchant_code, withdraw_deposit_account, total_order_count, total_order_money, 
    total_withdraw_deposit_money, third_info_code, third_info_status, third_info_withdraw_deposit_money, 
    status, remark, creator, create_time, modifier, modify_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from merchant_withdraw_deposit_apply
    where id = #{id,jdbcType=BIGINT}
  </select>
  
  <select id="selectByApplyCode" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from merchant_withdraw_deposit_apply
    where apply_code = #{applyCode}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from merchant_withdraw_deposit_apply
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.azz.order.finance.pojo.MerchantWithdrawDepositApply">
    insert into merchant_withdraw_deposit_apply (id, apply_code, merchant_code, 
      withdraw_deposit_account, total_order_count, 
      total_order_money, total_withdraw_deposit_money, 
      third_info_code, third_info_status, third_info_withdraw_deposit_money, 
      status, remark, creator, 
      create_time, modifier, modify_time
      )
    values (#{id,jdbcType=BIGINT}, #{applyCode,jdbcType=VARCHAR}, #{merchantCode,jdbcType=VARCHAR}, 
      #{withdrawDepositAccount,jdbcType=VARCHAR}, #{totalOrderCount,jdbcType=INTEGER}, 
      #{totalOrderMoney,jdbcType=DECIMAL}, #{totalWithdrawDepositMoney,jdbcType=DECIMAL}, 
      #{thirdInfoCode,jdbcType=VARCHAR}, #{thirdInfoStatus,jdbcType=VARCHAR}, #{thirdInfoWithdrawDepositMoney,jdbcType=DECIMAL}, 
      #{status,jdbcType=TINYINT}, #{remark,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{modifier,jdbcType=VARCHAR}, #{modifyTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.azz.order.finance.pojo.MerchantWithdrawDepositApply">
    insert into merchant_withdraw_deposit_apply
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="applyCode != null">
        apply_code,
      </if>
      <if test="merchantCode != null">
        merchant_code,
      </if>
      <if test="withdrawDepositAccount != null">
        withdraw_deposit_account,
      </if>
      <if test="totalOrderCount != null">
        total_order_count,
      </if>
      <if test="totalOrderMoney != null">
        total_order_money,
      </if>
      <if test="totalWithdrawDepositMoney != null">
        total_withdraw_deposit_money,
      </if>
      <if test="thirdInfoCode != null">
        third_info_code,
      </if>
      <if test="thirdInfoStatus != null">
        third_info_status,
      </if>
      <if test="thirdInfoWithdrawDepositMoney != null">
        third_info_withdraw_deposit_money,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifier != null">
        modifier,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="applyCode != null">
        #{applyCode,jdbcType=VARCHAR},
      </if>
      <if test="merchantCode != null">
        #{merchantCode,jdbcType=VARCHAR},
      </if>
      <if test="withdrawDepositAccount != null">
        #{withdrawDepositAccount,jdbcType=VARCHAR},
      </if>
      <if test="totalOrderCount != null">
        #{totalOrderCount,jdbcType=INTEGER},
      </if>
      <if test="totalOrderMoney != null">
        #{totalOrderMoney,jdbcType=DECIMAL},
      </if>
      <if test="totalWithdrawDepositMoney != null">
        #{totalWithdrawDepositMoney,jdbcType=DECIMAL},
      </if>
      <if test="thirdInfoCode != null">
        #{thirdInfoCode,jdbcType=VARCHAR},
      </if>
      <if test="thirdInfoStatus != null">
        #{thirdInfoStatus,jdbcType=VARCHAR},
      </if>
      <if test="thirdInfoWithdrawDepositMoney != null">
        #{thirdInfoWithdrawDepositMoney,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.azz.order.finance.pojo.MerchantWithdrawDepositApply">
    update merchant_withdraw_deposit_apply
    <set>
      <if test="applyCode != null">
        apply_code = #{applyCode,jdbcType=VARCHAR},
      </if>
      <if test="merchantCode != null">
        merchant_code = #{merchantCode,jdbcType=VARCHAR},
      </if>
      <if test="withdrawDepositAccount != null">
        withdraw_deposit_account = #{withdrawDepositAccount,jdbcType=VARCHAR},
      </if>
      <if test="totalOrderCount != null">
        total_order_count = #{totalOrderCount,jdbcType=INTEGER},
      </if>
      <if test="totalOrderMoney != null">
        total_order_money = #{totalOrderMoney,jdbcType=DECIMAL},
      </if>
      <if test="totalWithdrawDepositMoney != null">
        total_withdraw_deposit_money = #{totalWithdrawDepositMoney,jdbcType=DECIMAL},
      </if>
      <if test="thirdInfoCode != null">
        third_info_code = #{thirdInfoCode,jdbcType=VARCHAR},
      </if>
      <if test="thirdInfoStatus != null">
        third_info_status = #{thirdInfoStatus,jdbcType=VARCHAR},
      </if>
      <if test="thirdInfoWithdrawDepositMoney != null">
        third_info_withdraw_deposit_money = #{thirdInfoWithdrawDepositMoney,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.azz.order.finance.pojo.MerchantWithdrawDepositApply">
    update merchant_withdraw_deposit_apply
    set apply_code = #{applyCode,jdbcType=VARCHAR},
      merchant_code = #{merchantCode,jdbcType=VARCHAR},
      withdraw_deposit_account = #{withdrawDepositAccount,jdbcType=VARCHAR},
      total_order_count = #{totalOrderCount,jdbcType=INTEGER},
      total_order_money = #{totalOrderMoney,jdbcType=DECIMAL},
      total_withdraw_deposit_money = #{totalWithdrawDepositMoney,jdbcType=DECIMAL},
      third_info_code = #{thirdInfoCode,jdbcType=VARCHAR},
      third_info_status = #{thirdInfoStatus,jdbcType=VARCHAR},
      third_info_withdraw_deposit_money = #{thirdInfoWithdrawDepositMoney,jdbcType=DECIMAL},
      status = #{status,jdbcType=TINYINT},
      remark = #{remark,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modifier = #{modifier,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <select id="getWithdrawDepositApplyInfos" parameterType="com.azz.order.finance.pojo.bo.SearchWithdrawDepositApplyParam" resultType="com.azz.order.finance.pojo.vo.WithdrawDepositApplyInfo">
    SELECT
		mwda.apply_code AS applyCode,
		mwda.total_withdraw_deposit_money AS totalWithdrawDepositMoney,
		mwda.total_order_money - mwda.total_withdraw_deposit_money AS commissionCharge,
		mwda. STATUS AS STATUS,
		mwda.withdraw_deposit_account AS withdrawDepositAccount,
		mwda.create_time AS createTime
	FROM
		merchant_withdraw_deposit_apply mwda
	JOIN merchant_user mu ON mu.merchant_user_code = mwda.creator
	<where>
		<if test="merchantCode != null and merchantCode != ''">
			mwda.merchant_code = #{merchantCode}
		</if>
		<if test="searchInput != null and searchInput != ''">
		AND (
				mwda.apply_code LIKE CONCAT('%', #{searchInput}, '%') 
			OR mu.merchant_user_name LIKE CONCAT('%', #{searchInput}, '%')
		)
		</if>
	</where>
	ORDER BY
		mwda.create_time DESC
  </select>
  
   <select id="getWithdrawDepositApplyInfo" parameterType="string" resultType="com.azz.order.finance.pojo.vo.ApplyInfo">
    SELECT
		mwda.apply_code AS applyCode,
		mwda.total_withdraw_deposit_money AS totalWithdrawDepositMoney,
		mu.merchant_user_name AS creator,
		mu.phone_number AS phoneNumber,
		mwda.`status` AS status,
		mwda.remark AS remark,
		mwda.create_time AS createTime,
		mwda.merchant_code AS merchantCode
	FROM
		merchant_withdraw_deposit_apply mwda
	JOIN merchant_user mu ON mu.merchant_user_code = mwda.creator
	WHERE
		mwda.apply_code = #{applyCode}
  </select>
  
  <select id="getThirdInfo" parameterType="string" resultType="com.azz.order.finance.pojo.vo.ThirdInfo">
    SELECT
		mwda.third_info_code AS thirdInfoCode,
		mwda.third_info_withdraw_deposit_money AS thirdInfoWithdrawDepositMoney,
		mwda.third_info_status AS thirdInfoStatus
	FROM
		merchant_withdraw_deposit_apply mwda
	WHERE
		mwda.apply_code = #{applyCode}
  </select>
  
  <select id="getAccountByMerchantCode" parameterType="string" resultType="com.azz.order.finance.pojo.vo.AccountInfo">
  	SELECT
		myea.mer_cert_no as creditCode,
		myea.card_no as accountBankCardNumber,
		m.merchant_name AS merchantName
	FROM
		merchant_yee_enterprise_account myea
	JOIN merchant_yee_bind myb ON myb.yee_merchant_no = myea.merchant_no
	JOIN merchant m ON m.merchant_code = myb.merchant_id
	WHERE
		myb.bind_status = 1
	AND myb.merchant_id = #{merchantCode}
  </select>
  
  <select id="getWithdrawDepositApplyOrderInfo" parameterType="string" resultType="com.azz.order.finance.pojo.vo.OrderInfo">
	SELECT
		mwda.total_order_count as totalOrderCount,
		mwda.total_order_money as totalOrderMoney,
		mwda.total_withdraw_deposit_money as totalWithdrawDepositMoney,
		mwda.total_order_money - mwda.total_withdraw_deposit_money AS totalTransactionCost,
		mwda.status AS status
	FROM
		merchant_withdraw_deposit_apply mwda
	WHERE
		mwda.apply_code = #{applyCode}
  </select>
  
  <select id="getWithdrawDepositApplyOrders" parameterType="string" resultType="com.azz.order.finance.pojo.vo.MerchantOrderInfo">
	SELECT
		mwdao.merchant_order_code as merchantOrderCode,
		mwdao.grand_total as grandTotal,
		mwdao.grand_total - mwdao.withdraw_deposit_money as transactionCost,
		mwdao.withdraw_deposit_money as withdrawDepositMoney,
		mwdao.order_date as orderDate
	FROM
		merchant_withdraw_deposit_apply_order mwdao
	where 
		mwdao.apply_code = #{applyCode}

  </select>
  
  <select id="getTotalIncomeByMerchantCode" parameterType="string" resultType="java.math.BigDecimal">
    SELECT
		IFNULL(SUM(grand_total),0) AS totalIncome
	FROM
		merchant_order mo
	JOIN merchant m ON m.id = mo.merchant_id
	WHERE
		mo.order_status_id = 4
	AND m.merchant_code = #{merchantCode}
  </select>
  
  <select id="getWithdrawDepositMoneyByMerchantCode" parameterType="string" resultType="java.math.BigDecimal">
	SELECT
		IFNULL(SUM(mwda.total_order_money),0) AS withdrawDepositMoney
	FROM
		merchant_withdraw_deposit_apply mwda
	WHERE
		mwda.`status` = 3
	AND	mwda.merchant_code = #{merchantCode}
  </select>
  
  <select id="getMerchantOrders" parameterType="com.azz.order.finance.pojo.bo.SearchMerchantOrderParam" resultType="com.azz.order.finance.pojo.vo.MerchantOrderInfo">
	SELECT
		mo.merchant_order_code AS merchantOrderCode,
		mo.grand_total AS grandTotal,
		mo.grand_total - mo.grand_total * #{rate} as withdrawDepositMoney,
		mo.grand_total * #{rate} as transactionCost,
		mo.order_status_id AS orderStatusId,
		mo.create_time AS orderDate,
		CASE
	WHEN (mwdao.id IS NULL)
	OR (
		mwdao.id IS NOT NULL
		AND mwda.`status` = 4
	) THEN
		1
	WHEN mwdao.id IS NOT NULL
	AND mwda.`status` IN (1, 2) THEN
		2
	WHEN mwdao.id IS NOT NULL
	AND mwda.`status` = 3 THEN
		3
	END AS withdrawDepositStatus
	FROM
		merchant_order mo
	LEFT JOIN merchant_withdraw_deposit_apply_order mwdao ON mo.merchant_order_code = mwdao.merchant_order_code
	LEFT JOIN merchant_withdraw_deposit_apply mwda ON mwda.apply_code = mwdao.apply_code
	<where>
			mo.order_status_id = 4
		and mo.merchant_id = #{merchantId}
		<if test="searchInput != null and searchInput != ''">
			AND mo.merchant_order_code LIKE CONCAT('%', #{searchInput}, '%')
		</if>
	</where>
	ORDER BY
		mo.create_time DESC
  </select>
  
  <select id="getPlatformWithdrawDepositApplyInfos" parameterType="com.azz.order.finance.pojo.bo.SearchWithdrawDepositApplyParam" resultType="com.azz.order.finance.pojo.vo.WithdrawDepositApplyInfo">
    SELECT
		mwda.apply_code AS applyCode,
		mwda.total_order_money AS totalOrderMoney,
		mwda.total_withdraw_deposit_money AS totalWithdrawDepositMoney,
		mwda. STATUS AS status,
		m.merchant_name AS merchantName,
		mu.merchant_user_name AS creator,
		mwda.create_time AS createTime
	FROM
		merchant_withdraw_deposit_apply mwda
	JOIN merchant_user mu ON mu.merchant_user_code = mwda.creator
	JOIN merchant m ON m.merchant_code = mu.merchant_code
	<where>
		<if test="searchInput != null and searchInput != ''">
				mwda.apply_code LIKE CONCAT('%', #{searchInput}, '%') 
			OR mu.merchant_user_name LIKE CONCAT('%', #{searchInput}, '%')
			OR m.merchant_name LIKE CONCAT('%', #{searchInput}, '%')
		</if>
	</where>
	ORDER BY
		mwda.create_time DESC
  </select>
  
</mapper>