<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.azz.order.merchant.mapper.MerchantInvoiceMapper">
  <resultMap id="BaseResultMap" type="com.azz.order.merchant.pojo.MerchantInvoice">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="merchant_apply_code" jdbcType="VARCHAR" property="merchantApplyCode" />
    <result column="merchant_id" jdbcType="BIGINT" property="merchantId" />
    <result column="merchant_order_id" jdbcType="BIGINT" property="merchantOrderId" />
    <result column="invoice_type" jdbcType="INTEGER" property="invoiceType" />
    <result column="apply_amount" jdbcType="DECIMAL" property="applyAmount" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    id, merchant_apply_code, merchant_id, merchant_order_id, invoice_type, apply_amount, 
    status, creator, create_time, modifier, modify_time, remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from merchant_invoice
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from merchant_invoice
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.azz.order.merchant.pojo.MerchantInvoice">
    insert into merchant_invoice (id, merchant_apply_code, merchant_id, 
      merchant_order_id, invoice_type, apply_amount, 
      status, creator, create_time, 
      modifier, modify_time, remark
      )
    values (#{id,jdbcType=BIGINT}, #{merchantApplyCode,jdbcType=VARCHAR}, #{merchantId,jdbcType=BIGINT}, 
      #{merchantOrderId,jdbcType=BIGINT}, #{invoiceType,jdbcType=INTEGER}, #{applyAmount,jdbcType=DECIMAL}, 
      #{status,jdbcType=INTEGER}, #{creator,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{modifier,jdbcType=VARCHAR}, #{modifyTime,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.azz.order.merchant.pojo.MerchantInvoice">
    insert into merchant_invoice
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="merchantApplyCode != null">
        merchant_apply_code,
      </if>
      <if test="merchantId != null">
        merchant_id,
      </if>
      <if test="merchantOrderId != null">
        merchant_order_id,
      </if>
      <if test="invoiceType != null">
        invoice_type,
      </if>
      <if test="applyAmount != null">
        apply_amount,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifier != null">
        modifier,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="merchantApplyCode != null">
        #{merchantApplyCode,jdbcType=VARCHAR},
      </if>
      <if test="merchantId != null">
        #{merchantId,jdbcType=BIGINT},
      </if>
      <if test="merchantOrderId != null">
        #{merchantOrderId,jdbcType=BIGINT},
      </if>
      <if test="invoiceType != null">
        #{invoiceType,jdbcType=INTEGER},
      </if>
      <if test="applyAmount != null">
        #{applyAmount,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.azz.order.merchant.pojo.MerchantInvoice">
    update merchant_invoice
    <set>
      <if test="merchantApplyCode != null">
        merchant_apply_code = #{merchantApplyCode,jdbcType=VARCHAR},
      </if>
      <if test="merchantId != null">
        merchant_id = #{merchantId,jdbcType=BIGINT},
      </if>
      <if test="merchantOrderId != null">
        merchant_order_id = #{merchantOrderId,jdbcType=BIGINT},
      </if>
      <if test="invoiceType != null">
        invoice_type = #{invoiceType,jdbcType=INTEGER},
      </if>
      <if test="applyAmount != null">
        apply_amount = #{applyAmount,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.azz.order.merchant.pojo.MerchantInvoice">
    update merchant_invoice
    set merchant_apply_code = #{merchantApplyCode,jdbcType=VARCHAR},
      merchant_id = #{merchantId,jdbcType=BIGINT},
      merchant_order_id = #{merchantOrderId,jdbcType=BIGINT},
      invoice_type = #{invoiceType,jdbcType=INTEGER},
      apply_amount = #{applyAmount,jdbcType=DECIMAL},
      status = #{status,jdbcType=INTEGER},
      creator = #{creator,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modifier = #{modifier,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <select id="getMerchantInvoiceList" parameterType="com.azz.order.merchant.pojo.bo.SearchInvoiceListParam" resultType="com.azz.order.merchant.pojo.vo.MerchantInvoiceList">
  	SELECT
		mi.merchant_apply_code as merchantApplyCode,
		mi.invoice_type as invoiceType,
		mo.merchant_order_code as clientOrderCode,
		mi.apply_amount as applyAmount,
		mi.status as applyStatus,
		pu.user_name as creator,
		mi.create_time as createTime
	FROM
		merchant_invoice mi
	JOIN merchant_order mo ON mi.merchant_order_id = mo.id
	LEFT JOIN platform_user pu ON mi.creator = pu.user_code
	WHERE mi.merchant_id = #{merchantId,jdbcType=BIGINT}
	<if test="null != status">AND mi.status = #{status}</if>
	<if test="null != param and '' != param">
		AND (mi.merchant_apply_code LIKE CONCAT('%',#{param},'%') OR mo.merchant_order_code LIKE CONCAT('%',#{param},'%'))
	</if>
	ORDER BY mi.create_time DESC
  </select>
  
  <select id="getMerchantInvoiceDetailInfo" parameterType="java.lang.String" resultType="com.azz.order.merchant.pojo.vo.MerchantInvoiceDetail">
  	SELECT
  		mo.merchant_id as merchantId,
		mo.merchant_order_code as merchantOrderCode,
		cop.order_status_id as clientOrderStatus,
		cop.payment_method as paymentMethod,
		mo.grand_total as grandTotal,
		mi.apply_amount as applyAmount,
		mi.status as merchantInvoiceApplyStatus,
		mi.merchant_apply_code as merchantApplyCode,
		mi.invoice_type as invoiceType,
		cit.invoice_title as invoiceTitle,
		cit.tax_identification_number as taxIdentificationNumber,
		cit.bank as bank,
		cit.bank_account as bankAccount,
		cit.company_name as companyName,
		cit.create_time as createTime,	
		cit.reg_address as regAddress,
		cit.reg_telephone as regTelephone,
		cosa.receiver_name as receiverName,
		cosa.receiver_phone_number as receiverPhoneNumber,
		cosa.province_name as provinceName,
		cosa.city_name as cityName,
		cosa.area_name as areaName,
		cosa.address_alias as addressAlias,
		cosa.detail_address as detailAddress,
		mu.merchant_user_name as deliveryCreator,
		mil.create_time as deliveryCreateTime,
		mil.delivery_type as deliveryType,
		mil.delivery_person as deliveryPerson,
		mil.delivery_phone as deliveryPhone,
		mil.number as number,
		ec.company_name	as deliveryCompanyName
	FROM
		merchant_order mo
	LEFT JOIN merchant_invoice mi ON mi.merchant_order_id = mo.id
	LEFT JOIN client_order_personal cop ON cop.id = mo.client_order_id
	LEFT JOIN client_user cu ON cop.client_user_id = cu.id
	JOIN client_invoice_template cit ON cit.client_user_id = cu.id
	JOIN client_invoice ci ON ci.invoice_template_id = cit.id
	LEFT JOIN merchant_invoice_logistics mil ON mil.merchant_invoice_id = mi.id
	LEFT JOIN merchant_user mu ON mu.merchant_user_code = mil.creator
	LEFT JOIN express_company ec ON mil.express_company_id = ec.id
	LEFT JOIN client_order_shipping_address cosa ON ci.shipping_address_id = cosa.id
	WHERE mo.merchant_order_code = #{merchantOrderCode}
  </select>
  
  <select id="selectMerchantInvoiceByOrderId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from merchant_invoice
    where merchant_order_id = #{merchantOrderId,jdbcType=BIGINT}
  </select>
</mapper>