<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.azz.order.merchant.mapper.MerchantOrderMapper">
  <resultMap id="BaseResultMap" type="com.azz.order.merchant.pojo.MerchantOrder">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="merchant_order_code" jdbcType="VARCHAR" property="merchantOrderCode" />
    <result column="merchant_id" jdbcType="BIGINT" property="merchantId" />
    <result column="client_order_id" jdbcType="BIGINT" property="clientOrderId" />
    <result column="grand_total" jdbcType="DECIMAL" property="grandTotal" />
    <result column="order_status_id" jdbcType="INTEGER" property="orderStatusId" />
    <result column="invoice_status" jdbcType="INTEGER" property="invoiceStatus" />
    <result column="order_type" jdbcType="INTEGER" property="orderType" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  
  <sql id="Base_Column_List">
    id, merchant_order_code, merchant_id, client_order_id, grand_total, order_status_id, 
    invoice_status, order_type, status, create_time, modifier, modify_time, remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from merchant_order
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from merchant_order
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.azz.order.merchant.pojo.MerchantOrder">
    insert into merchant_order (id, merchant_order_code, merchant_id, 
      client_order_id, grand_total, order_status_id, 
      invoice_status, order_type, status, 
      create_time, modifier, modify_time, 
      remark)
    values (#{id,jdbcType=BIGINT}, #{merchantOrderCode,jdbcType=VARCHAR}, #{merchantId,jdbcType=BIGINT}, 
      #{clientOrderId,jdbcType=BIGINT}, #{grandTotal,jdbcType=DECIMAL}, #{orderStatusId,jdbcType=INTEGER}, 
      #{invoiceStatus,jdbcType=INTEGER}, #{orderType,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{modifier,jdbcType=VARCHAR}, #{modifyTime,jdbcType=TIMESTAMP}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id" parameterType="com.azz.order.merchant.pojo.MerchantOrder">
    insert into merchant_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="merchantOrderCode != null">
        merchant_order_code,
      </if>
      <if test="merchantId != null">
        merchant_id,
      </if>
      <if test="clientOrderId != null">
        client_order_id,
      </if>
      <if test="grandTotal != null">
        grand_total,
      </if>
      <if test="orderStatusId != null">
        order_status_id,
      </if>
      <if test="invoiceStatus != null">
        invoice_status,
      </if>
      <if test="orderType != null">
        order_type,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifier != null">
        modifier,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="merchantOrderCode != null">
        #{merchantOrderCode,jdbcType=VARCHAR},
      </if>
      <if test="merchantId != null">
        #{merchantId,jdbcType=BIGINT},
      </if>
      <if test="clientOrderId != null">
        #{clientOrderId,jdbcType=BIGINT},
      </if>
      <if test="grandTotal != null">
        #{grandTotal,jdbcType=DECIMAL},
      </if>
      <if test="orderStatusId != null">
        #{orderStatusId,jdbcType=INTEGER},
      </if>
      <if test="invoiceStatus != null">
        #{invoiceStatus,jdbcType=INTEGER},
      </if>
      <if test="orderType != null">
        #{orderType,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.azz.order.merchant.pojo.MerchantOrder">
    update merchant_order
    <set>
      <if test="merchantOrderCode != null">
        merchant_order_code = #{merchantOrderCode,jdbcType=VARCHAR},
      </if>
      <if test="merchantId != null">
        merchant_id = #{merchantId,jdbcType=BIGINT},
      </if>
      <if test="clientOrderId != null">
        client_order_id = #{clientOrderId,jdbcType=BIGINT},
      </if>
      <if test="grandTotal != null">
        grand_total = #{grandTotal,jdbcType=DECIMAL},
      </if>
      <if test="orderStatusId != null">
        order_status_id = #{orderStatusId,jdbcType=INTEGER},
      </if>
      <if test="invoiceStatus != null">
        invoice_status = #{invoiceStatus,jdbcType=INTEGER},
      </if>
      <if test="orderType != null">
        order_type = #{orderType,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.azz.order.merchant.pojo.MerchantOrder">
    update merchant_order
    set merchant_order_code = #{merchantOrderCode,jdbcType=VARCHAR},
      merchant_id = #{merchantId,jdbcType=BIGINT},
      client_order_id = #{clientOrderId,jdbcType=BIGINT},
      grand_total = #{grandTotal,jdbcType=DECIMAL},
      order_status_id = #{orderStatusId,jdbcType=INTEGER},
      invoice_status = #{invoiceStatus,jdbcType=INTEGER},
      order_type = #{orderType,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modifier = #{modifier,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <resultMap id="BaseMerchantResultMap" type="com.azz.order.platform.Merchant">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="merchant_code" jdbcType="VARCHAR" property="merchantCode" />
    <result column="merchant_name" jdbcType="VARCHAR" property="merchantName" />
    <result column="legal_person_name" jdbcType="VARCHAR" property="legalPersonName" />
    <result column="legal_person_id_card" jdbcType="VARCHAR" property="legalPersonIdCard" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="credit_code" jdbcType="VARCHAR" property="creditCode" />
    <result column="company_tel" jdbcType="VARCHAR" property="companyTel" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="trading_certificate_first_file_name" jdbcType="VARCHAR" property="tradingCertificateFirstFileName" />
    <result column="trading_certificate_first_file_url" jdbcType="VARCHAR" property="tradingCertificateFirstFileUrl" />
    <result column="trading_certificate_second_file_name" jdbcType="VARCHAR" property="tradingCertificateSecondFileName" />
    <result column="trading_certificate_second_file_url" jdbcType="VARCHAR" property="tradingCertificateSecondFileUrl" />
    <result column="trading_certificate_third_file_name" jdbcType="VARCHAR" property="tradingCertificateThirdFileName" />
    <result column="trading_certificate_third_file_url" jdbcType="VARCHAR" property="tradingCertificateThirdFileUrl" />
    <result column="business_license_file_name" jdbcType="VARCHAR" property="businessLicenseFileName" />
    <result column="business_license_file_url" jdbcType="VARCHAR" property="businessLicenseFileUrl" />
    <result column="legal_person_id_card_file_name" jdbcType="VARCHAR" property="legalPersonIdCardFileName" />
    <result column="legal_person_id_card_file_url" jdbcType="VARCHAR" property="legalPersonIdCardFileUrl" />
    <result column="auditor" jdbcType="VARCHAR" property="auditor" />
    <result column="contact_phone" jdbcType="VARCHAR" property="contactPhone" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="salt" jdbcType="VARCHAR" property="salt" />
    <result column="registered_person" jdbcType="VARCHAR" property="registeredPerson" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="qualification_apply_status" jdbcType="INTEGER" property="qualificationApplyStatus" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <select id="selectMerchantByMerchantCode" parameterType="string" resultMap="BaseMerchantResultMap">
    select 
	    id, merchant_code, merchant_name, legal_person_name, legal_person_id_card, company_name, 
	    credit_code, company_tel, address, trading_certificate_first_file_name, trading_certificate_first_file_url, 
	    trading_certificate_second_file_name, trading_certificate_second_file_url, trading_certificate_third_file_name, 
	    trading_certificate_third_file_url, business_license_file_name, business_license_file_url, 
	    legal_person_id_card_file_name, legal_person_id_card_file_url, auditor, contact_phone, 
	    password, salt, registered_person, status, qualification_apply_status, remark, create_time
    from merchant
    where status != 0 and merchant_code = #{merchantCode}
  </select>
  
  <select id="selectOrderList" parameterType="com.azz.order.merchant.pojo.bo.SearchOrderListParam" resultType="com.azz.order.merchant.pojo.vo.OrderList">
  	SELECT
		mo.merchant_order_code as orderCode,
		os.status_name as statusName,
		mo.grand_total as grandTotal,
		cu.client_user_name as userName,
		cop.create_time as orderTime,
		cop.creator as receiver,
		mos.create_time as processingTime
	FROM
		merchant_order mo
	JOIN client_order_personal cop ON mo.client_order_id = cop.id
	JOIN client_user cu ON cop.client_user_id = cu.id
	JOIN order_status os ON mo.order_status_id = os.id
	LEFT JOIN merchant_order_status mos ON mo.id = mos.merchant_order_id
	AND mos.merchant_status_id = 1
	<where>
		<if test="null != orderStatus">AND mo.order_status_id = #{orderStatus}</if>
		<if test="null != param and '' != param">AND (mo.merchant_order_code LIKE CONCAT('%',#{param},'%') OR cu.client_user_name LIKE CONCAT('%',#{param},'%') OR cop.creator LIKE CONCAT('%',#{param},'%'))</if>
	</where>
	ORDER BY mo.create_time DESC
  </select>
  
  <resultMap id="MerchantOrderInfo" type="com.azz.order.merchant.pojo.vo.OrderDetail">
  	<result column="orderCode" jdbcType="VARCHAR" property="orderCode" />
    <result column="orderStatus" jdbcType="VARCHAR" property="orderStatus" />
    <result column="orderTime" jdbcType="TIMESTAMP" property="orderTime" />
    <result column="grandTotal" jdbcType="DECIMAL" property="grandTotal" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  	<collection property="orderItems" ofType="com.azz.order.merchant.pojo.vo.OrderItem">
        <result column="productCode" property="productCode" jdbcType="VARCHAR"/>
        <result column="modulePicUrl" property="modulePicUrl" jdbcType="VARCHAR"/>
        <result column="moduleName" property="moduleName" jdbcType="VARCHAR"/>
        <result column="deliveryTime" property="deliveryTime" jdbcType="TIMESTAMP"/>
        <result column="quantity" property="quantity" jdbcType="INTEGER"/>
        <result column="productPrice" jdbcType="DECIMAL" property="productPrice" />
    </collection>
  </resultMap>
  
  <select id="selectOrderInfo" parameterType="com.azz.order.merchant.pojo.bo.SearchOrderDetailParam" resultMap="MerchantOrderInfo">
  	SELECT
		mo.merchant_order_code as orderCode,
		os.status_name as orderStatus,
		mo.create_time as orderTime,
		mo.grand_total as grandTotal,
		mo.remark as remark,
		moi.module_name as moduleName,
		moi.module_pic_url as modulePicUrl,
		moi.product_code as productCode,
		moi.quantity as quantity,
		moi.product_price as productPrice,
		moi.delivery_time as deliveryTime
	FROM
		merchant_order mo
	JOIN merchant_order_item moi ON mo.id = moi.merchant_order_id
	JOIN order_status os ON mo.order_status_id = os.id
	WHERE
		mo.merchant_order_code = #{orderCode}
	<if test="null != merchantId">AND mo.merchant_id = #{merchantId}</if>
  </select>
  
  <select id="selectReceiverAddressInfo" parameterType="java.lang.String" resultType="com.azz.order.merchant.pojo.vo.ReceiverAddress">
  	SELECT
		cosa.receiver_name as receiverName,
		cosa.receiver_phone_number as number,
	  	cosa.address_alias as addressAlias,
		CONCAT(cosa.province_name,cosa.city_name,cosa.area_name,cosa.detail_address) as address
	FROM
		client_order_shipping_address cosa
	JOIN client_order_personal cop ON cop.order_shipping_id = cosa.id
	JOIN merchant_order mo ON mo.client_order_id = cop.id
	WHERE
		mo.merchant_order_code = #{orderCode}
  </select>
  
  <select id="selectShipInfo" parameterType="java.lang.String" resultType="com.azz.order.merchant.pojo.vo.ShipInfo">
  	SELECT
		mos.creator as creator,
		mos.create_time as createTime,
	  	ec.company_name as companyName,
		mol.logistisc_company_name as logistiscCompanyName,
		mol.number as number,
		mol.delivery_person as deliveryPerson,
		mol.delivery_phone_number as deliveryPhoneNumber,
		mol.shipment_file_info as shipmentFileInfo
	FROM
		merchant_order_status mos
	JOIN merchant_order mo ON mos.merchant_order_id = mo.id
	LEFT JOIN merchant_order_logistics mol ON mol.merchant_order_id = mo.id
	LEFT JOIN express_company ec ON mol.express_company_id = ec.id
	WHERE mo.merchant_order_code = #{orderCode}
  </select>
  
  <select id="selectSignFor" parameterType="java.lang.String" resultType="com.azz.order.merchant.pojo.vo.SignForInfo">
  	SELECT
		csf.consignee as consignee,
		csf.create_time as createTime,
		csf.sign_file_info as  signFileInfo
	FROM
		client_sign_for csf
	LEFT JOIN merchant_order mo ON csf.client_order_id = mo.client_order_id
	WHERE mo.merchant_order_code = #{orderCode}
  </select>
  
  <select id="selectMerchantOrderInfo" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from merchant_order
    where merchant_order_code = #{orderCode}
  </select>
  
  <select id="countSendOutMerchantOrderByClientOrderId" parameterType="java.lang.Long" resultType="int">
    SELECT
		count(1)
	FROM
		client_order_personal cop
	LEFT JOIN merchant_order mo ON mo.client_order_id = cop.id
	AND cop.`status` != 0
	WHERE mo.order_status_id = 2
	and mo.client_order_id = #{clientOrderId}
  </select>
  
  <select id="getMerchantOrderIdByClientOrderId" parameterType="java.lang.Long" resultType="java.lang.Long">
    SELECT
		mo.id
	FROM
		client_order_personal cop
	LEFT JOIN merchant_order mo ON mo.client_order_id = cop.id AND cop.`status` != 0
	WHERE mo.client_order_id = #{clientOrderId}
	limit 1
  </select>
  
  <select id="selectPlatformMerchantOrder" parameterType="com.azz.order.platform.bo.SearchMerchantOrderParam" resultType="com.azz.order.platform.vo.MerchantOrderList">
  	SELECT
		mo.merchant_order_code as orderCode,
		cop.client_order_code as clientOrderCode,
		m.merchant_name as merchantName,
		mo.grand_total as grandTotal,
		os.status_name as orderStatus,
		mos.creator as processinPerson,
		mos.create_time as processingTime
	FROM
		merchant_order mo
	LEFT JOIN client_order_personal cop ON mo.client_order_id = cop.id
	LEFT JOIN merchant m ON mo.merchant_id = m.id
	JOIN order_status os ON mo.order_status_id = os.id
	LEFT JOIN merchant_order_status mos ON mo.id = mos.merchant_order_id
	<where>
		<if test="">AND mo.order_status_id = #{orderStatus}</if>
		<if test="">AND (mo.merchant_order_code LIKE CONCAT('%',#{param},'%') OR cop.client_order_code LIKE CONCAT('%',#{param},'%'))</if>
	</where>
	ORDER BY mo.create_time DESC
  </select>
</mapper>