<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.azz.order.merchant.mapper.MerchantInvoiceLogisticsMapper">
  <resultMap id="BaseResultMap" type="com.azz.order.merchant.pojo.MerchantInvoiceLogistics">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="merchant_invoice_id" jdbcType="BIGINT" property="merchantInvoiceId" />
    <result column="delivery_type" jdbcType="INTEGER" property="deliveryType" />
    <result column="express_company_id" jdbcType="BIGINT" property="expressCompanyId" />
    <result column="number" jdbcType="VARCHAR" property="number" />
    <result column="delivery_person" jdbcType="VARCHAR" property="deliveryPerson" />
    <result column="delivery_phone" jdbcType="VARCHAR" property="deliveryPhone" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, merchant_invoice_id, delivery_type, express_company_id, number, delivery_person, 
    delivery_phone, creator, create_time, modifier, modify_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from merchant_invoice_logistics
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from merchant_invoice_logistics
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.azz.order.merchant.pojo.MerchantInvoiceLogistics">
    insert into merchant_invoice_logistics (id, merchant_invoice_id, delivery_type, 
      express_company_id, number, delivery_person, 
      delivery_phone, creator, create_time, 
      modifier, modify_time)
    values (#{id,jdbcType=BIGINT}, #{merchantInvoiceId,jdbcType=BIGINT}, #{deliveryType,jdbcType=INTEGER}, 
      #{expressCompanyId,jdbcType=BIGINT}, #{number,jdbcType=VARCHAR}, #{deliveryPerson,jdbcType=VARCHAR}, 
      #{deliveryPhone,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{modifier,jdbcType=VARCHAR}, #{modifyTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.azz.order.merchant.pojo.MerchantInvoiceLogistics">
    insert into merchant_invoice_logistics
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="merchantInvoiceId != null">
        merchant_invoice_id,
      </if>
      <if test="deliveryType != null">
        delivery_type,
      </if>
      <if test="expressCompanyId != null">
        express_company_id,
      </if>
      <if test="number != null">
        number,
      </if>
      <if test="deliveryPerson != null">
        delivery_person,
      </if>
      <if test="deliveryPhone != null">
        delivery_phone,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifier != null">
        modifier,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="merchantInvoiceId != null">
        #{merchantInvoiceId,jdbcType=BIGINT},
      </if>
      <if test="deliveryType != null">
        #{deliveryType,jdbcType=INTEGER},
      </if>
      <if test="expressCompanyId != null">
        #{expressCompanyId,jdbcType=BIGINT},
      </if>
      <if test="number != null">
        #{number,jdbcType=VARCHAR},
      </if>
      <if test="deliveryPerson != null">
        #{deliveryPerson,jdbcType=VARCHAR},
      </if>
      <if test="deliveryPhone != null">
        #{deliveryPhone,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.azz.order.merchant.pojo.MerchantInvoiceLogistics">
    update merchant_invoice_logistics
    <set>
      <if test="merchantInvoiceId != null">
        merchant_invoice_id = #{merchantInvoiceId,jdbcType=BIGINT},
      </if>
      <if test="deliveryType != null">
        delivery_type = #{deliveryType,jdbcType=INTEGER},
      </if>
      <if test="expressCompanyId != null">
        express_company_id = #{expressCompanyId,jdbcType=BIGINT},
      </if>
      <if test="number != null">
        number = #{number,jdbcType=VARCHAR},
      </if>
      <if test="deliveryPerson != null">
        delivery_person = #{deliveryPerson,jdbcType=VARCHAR},
      </if>
      <if test="deliveryPhone != null">
        delivery_phone = #{deliveryPhone,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.azz.order.merchant.pojo.MerchantInvoiceLogistics">
    update merchant_invoice_logistics
    set merchant_invoice_id = #{merchantInvoiceId,jdbcType=BIGINT},
      delivery_type = #{deliveryType,jdbcType=INTEGER},
      express_company_id = #{expressCompanyId,jdbcType=BIGINT},
      number = #{number,jdbcType=VARCHAR},
      delivery_person = #{deliveryPerson,jdbcType=VARCHAR},
      delivery_phone = #{deliveryPhone,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modifier = #{modifier,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>